@use '../variables' as *;
@use 'sass:color';

/** === PAGE BRANDS === */

body#manufacturer, .featured-brands {
    
    /* Force l'alignement des éléments dans la grille */
    #main .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    /* Classe personnalisée pour avoir 5 colonnes en desktop */
    #main .col-xl-full {
        @media (min-width: 1200px) and (max-width: 1700px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    .featured-brands {
        margin-bottom: 80px;
    }
    
    .brand-miniature {
        margin: 50px 0 80px 0;
    }
    
    
    /* Styles pour les cards des marques */
    .brand-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #e5e8ea;
        border-radius: 10px;
        padding: 20px;
        min-height: 680px;
        background-color: #fff;
        transition: transform 0.2s ease;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 60px;

        /* Styles spécifiques pour les marques phares */
        &.featured-brand-card {
            padding: 0 0 60px 0;
            overflow: hidden;
            min-height: 750px;
            
            .brand-card-header {
                width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                
                .brand-header-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .featured-logo {
                position: absolute;
                top: 170px;
                left: 20%;
                transform: translateX(-50%);
                background-color: $color-custom-white;
                border-radius: 50%;
                border: 1px solid $color-custom-grayLight;
                padding: 20px;
                width: 130px;
                height: 130px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
                
                @media (max-width: 1599px) {
                    top: 150px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }
            
            .featured-title {
                text-align: center !important;
                justify-content: center;
                font-size: 24px;
                margin-top: 50px;

                @media (max-width: 1599px) {
                    margin-top: 60px;
                }
            }
            
            .featured-description {
                text-align: left;
                padding: 0 40px;

                @media (max-width: $breakpoint-sm) {
                    padding: 0 2rem;
                }
            }
            
            .brand-card-action {
                text-align: left;
                padding: 0 40px;
                font-size: 15px !important;
            }
        }

        @media (max-width: $breakpoint-sm) {
            min-width: 280px;
        }
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        
        .brand-card-logo {
            text-align: center;
            margin-bottom: 5px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                object-fit: contain;
                max-width: none;
            }
        }
        
        .brand-card-title {
            font-size: 19px;
            font-weight: 600;
            margin: 0;
            text-align: left !important;
            color: $color-custom-black;
            height: 40px; 
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .brand-card-description {
            color: $color-custom-gray;
            flex-grow: 1;
            margin-bottom: 0;
            text-align: left;
        }
        
        .brand-card-action {
            text-align: left;
            position: absolute;
            bottom: 20px;
            
            a {
                color: $color-custom-blue;
                font-size: 13px;
            }
          
        }
    }

    .brand-miniature .brand-card {
        min-height: auto !important;
    }
}

body#index {
    .brands-title {
        display: none;   
    }

    .featured-brand-card {
        padding: 0 0 20px 0;
        min-height: 750px;
    }

    .brand-card-action {
       position: relative;
       margin: 20px 0 0 0;
    }
}

.brands-manufacturers-section {
    background-color: $color-custom-bgLight;


    .alert-success {
        display: none;
    }
}