@use "../variables" as *;
@use 'sass:color';

/* === PAGE CHECKOUT === */

body#checkout { 
    background-color: #ffff;

    .header-nav {
        min-height: 130px;

        .logo {
            @media (max-width: $breakpoint-sm) {
                max-width: 230px !important;
            }
        }

        #_desktop_logo {
            align-items: baseline;
            height: auto;
        }
        
        .secure-block {
            justify-content: center;
            height: auto;
        }
        .secure-checkout-text {
            color: $color-custom-white;
            font-weight: bold;
            position: relative;
    
            i {
                font-size: 1.3rem;
            }
        }
    }

    .checkout-footer {
        border-top: 1px solid $color-custom-gray;
        background-color: #ffff;
        padding-top: 25px;
    }

    .copyright {
        font-size: .85rem;
    }
}