/* Custom CMS Styles */
@use '../variables' as *;

body#cms {
    #main {
        max-width: $breakpoint-xl;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        
        #content {
            padding: 0 15px 50px;
            p {
                img {
                    margin: 0 auto;
                }
            }

        }
    }

}

// CMS Page Catégorie
body.cms-id-7 {
    .page-content {
        max-width: none !important;
    }
    #main {
        max-width: inherit !important;

        .category-list {
           list-style: none;
           padding-left: 0;
           display: flex;
           flex-wrap: wrap;
           justify-content: flex-start;

           .category-item {
            margin-bottom: 50px;

            @media (max-width: $breakpoint-sm) {
                padding: 20px 0;
            }
           }

           .category-content {
            display: flex;
            flex-direction: column;
            height: 100%;
           }

           .category-block {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
           }

           h2 {
            font-size: 1.2rem;
            a {
                color:$color-custom-black;
                border-bottom: none;
                &:hover {
                    text-decoration: underline;
                 }

                 @media (max-width: $breakpoint-md) {
                    font-size: 1.1rem;
                 }
            }
           }

           .category-image {
            height: 140px;
            overflow: hidden;
            border-radius: 15px;
           }

           img {
            border-radius: 15px;
           }

           .category-info {
            padding: 0 15px 15px 15px;
            display: flex;
            flex-direction: column;
            flex: 1;

            // .custom-scrollbar {
            //   max-height: 150px;
            //   overflow-y: auto;
            //   text-align : left;
            //   p {
            //     padding-bottom: 15px;

            //     @media (max-width: $breakpoint-md) {
            //         font-size: .9rem;
            //     }
            //   }
            // }

            .view-all-products {
              margin-top: 10px;
              margin-bottom: 10px;
              display: inline-block;
              align-self: flex-start;
              clear: both;
              font-size: .9rem;
            }

            .subcategory-list {
              clear: both;
              display: block;
              width: 100%;
              margin-bottom: 0;
            }
           }
        }

        .subcategory-list {
            padding-left: 0;
            h3 {
             display: inline-block;
             font-size: .9rem;
             font-weight: lighter;

             
             a {
                color: $color-custom-gray;
                border-bottom: none;
                &:hover {
                    color: $color-custom-black;
                    text-decoration: underline;
                 }

                 @media (max-width: $breakpoint-lg) {
                    font-size: .95rem;
                 }
             }
            }
        }
    }
}

.page-content.page-cms ul, p {
    color: $color-custom-gray;
}

.page-content.page-cms {
  text-align: left !important;
  max-width: 960px !important;
}
// END CMS Page Catégorie