@use '../variables' as *;
@use '../partials/block_therapeute';
@use '../partials/card_therapeute';

/** === PAGE CONTACT === */

body#contact {
    .breadcrumb {
        display: none;
    }
    
    #wrapper {
        position: relative;
        background: $color-custom-bgWrapper;
        overflow: hidden;

        .card {
            border: none;
        }

        p {
            padding: 0;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 33.33%;
            height: 100%;
            background-color: $color-custom-whiteDarker;
            z-index: 0;
            
            @media (max-width: $breakpoint-md) {
                display: none;
            }
        }
        
        #content-wrapper, #right-column {
            position: relative;
            z-index: 1;
        }

        .contact-form {
            border-bottom: 1px solid $color-custom-gray;
            margin-bottom: 4rem;

            form {
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                @media (max-width: $breakpoint-sm) {
                    padding: 0 15px;
                }

                .form-group, .form-control {
                    max-width: none;
                    width: 100%;
                    
                    @media (max-width: $breakpoint-sm) {
                        margin-bottom: 15px;
                    }

                    label {
                        color: $color-custom-gray;
                        font-size: 20px;
                        
                        @media (max-width: $breakpoint-md) {
                            font-size: 18px;
                        }
                        
                        @media (max-width: $breakpoint-sm) {
                            font-size: 16px;
                        }
                    }

                    select, textarea, input {
                        width: 800px;
                        border: 1px solid $color-custom-gray;
                        height: 50px;
                        
                        @media (max-width: $breakpoint-xl) {
                            width: 400px;
                        }
                        
                        @media (max-width: $breakpoint-md) {
                            width: 400px;
                        }
                        
                        @media (max-width: $breakpoint-sm) {
                            width: 300px;
                            margin: 0 auto;
                        }
                    }
                    
                    textarea {
                        height: 150px;
                    }
                }
                
                .form-footer {
                    width: 800px;
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 3rem;

                    @media (max-width: $breakpoint-xl) {
                        justify-content: center;
                    }
                    
                    .primary-btn {
                        width: 300px;
                        font-size: 18px;     
                    }
                }
            }
        }
    }
}