@use "../variables" as *;
@use 'sass:color';

/* === PAGE CHECKOUT === */

body#checkout { 
    background-color: #ffff;

    .header-nav {
        min-height: 130px;

        .logo {
            @media (max-width: $breakpoint-sm) {
                max-width: 230px !important;
            }
        }

        #_desktop_logo {
            align-items: baseline;
            height: auto;
        }
        
        .secure-block {
            justify-content: center;
            height: auto;
        }
        .secure-checkout-text {
            color: $color-custom-white;
            font-weight: bold;
            position: relative;
    
            i {
                font-size: 1.3rem;
            }
        }
    }

    #_desktop_language_selector {
        display: none;
    }

    .checkout-footer {
        border-top: 1px solid $color-custom-gray;
        background-color: #ffff;
        padding-top: 25px;
    }

    .copyright {
        font-size: .85rem;
    }

    
    // SECTION STEPS
    .checkout-progress-bar {
        display: flex;
        justify-content: center;
        margin: 0.3rem 0 1.5rem 0;
    }

    .checkout-steps {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        
        .step {
            color: $color-custom-gray;
            position: relative;
            
            &.current {
                color: $color-custom-highlight;
                font-weight: bold;
            }
            
            &.done {
                color: $color-custom-gray;
                margin-right: 0;
            }
            
            &::after {
                content: '';
                display: inline-block;
                width: 2rem;
                height: 1px;
                background-color: #dcdfe2;
                margin-left: 2rem;
                position: relative;
                top: -0.2rem;
            }
            
            &:last-child::after {
                display: none;
            }
        }
    }
    #content > .row {
        @media (max-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
        }
    }
    
    .cart-grid-body, .cart-grid-right {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .cart-grid-body {
        padding-left: 8rem;
        padding-right: 6rem;
        margin-bottom: 0;
        background: white;
        @media (max-width: $breakpoint-md) {
            padding-left: 0;
            padding-right: 0;
            order: 2 !important;
        }
    }
    
    .cart-grid-right {
        padding-left: 6rem;
        padding-right: 10rem;
        background: $color-custom-whiteDarker;
        @media (max-width: $breakpoint-sm) {
            padding: 25px;
        }
        @media (max-width: $breakpoint-md) {
            padding: 47px 47px;
            order: 1 !important;
        }
        
        h3 {
            margin-top: 0;
            margin-bottom: 1.25rem;
        }
        
        .card,
        .card-block {
            padding: 0;
            background: transparent;
        }
    }
    
    // Cart Summary Styles
    .cart-summary {
        &-line {
            .label,
            .value {
                color: $color-custom-gray;
            }
            
            &.cart-total span {
                color: $color-custom-black;
            }
            
            .free {
                color: $color-custom-green;
                text-transform: capitalize;
            }
            
        }
        
        &-products .js-show-details {
            color: $color-custom-gray !important;
            font-weight: 500;
            border-bottom: none !important;
            font-size: 0.8rem;
        }
        
        &-subtotals span {
            font-size: 16px !important;
        }
    }
    
    // Cart Summary Product List
    #cart-summary-product-list {
        border-radius: 4px;
        background: white;
        padding: 15px;
        margin-bottom: 1rem;
        
        a, a:hover {
            border-bottom: none;
        }
        
        ul {
            margin-top: 0;
        }
        
        .product-name a {
            color: $color-custom-black;
            font-weight: 500;
            font-size: 0.85rem;
        }
        
        .product-price {
            color: $color-custom-black;
            font-weight: bold;
            font-size: 0.85rem;
        }
        
        .media {
            border-top: 1px solid #dcdfe2;
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            color: $color-custom-gray;
            font-size: 0.75rem !important;
            
            &:first-child {
                border-top: none;
            }
        }
        
        picture {
            width: 50px;
            display: inline-block;
        }
        
        img {
            border: none !important;  
        }
    }
    
    // Checkout Step Styles
    section.checkout-step {
        .delete-address, .edit-address {
            .delete, .edit {
                font-size: 0.8rem;
            }
            i {
                margin-right: 3px;
            }
            &:hover {
                color: $color-custom-white !important;
            }
        }
        
        .address-item {
            border-radius: 4px;
            background: white;
            border: 1px solid transparent;
            
            &.selected {
                border: 2px solid $color-custom-green;
            }
        }
        
        .delivery-options .delivery-option {
            &:not(:last-child) {
                background: transparent;
                border-right: none;
                border-bottom: 1px solid #dcdfe2;
            }
        }
    }
    
    .checkout-step .address-alias {
        font-size: 1rem;
        margin-top: 0;
    }
    
    // Cart Grid Subtotals
    .cart-grid-right .card .cart-summary-subtotals-container .cart-summary-line:not(:last-child) {
        margin-bottom: 1rem;
    }
    
    // Delivery Options
    .delivery-options {
        line-height: 1.1;
    }
    
    .carrier-price {
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .delivery-option .bi {
        font-size: 2rem;
    }
    
    #order-carrier-text {
        width: 100%;
        max-width: 100%;
        
        p {
            font-size: 0.8rem;
            margin-bottom: 5px;
        }
    }
    
    // Conditions to Approve
    #conditions-to-approve {
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        max-width: 100%;
        
        .condition-label {
            margin-top: 0 !important;
        }
        
        ul {
            padding-left: 0;
            margin: 0;
        }
    }
    
    // Payment Options
    .payment-options {
        .payment-option {
            padding: 1.5rem 0;
            margin-bottom: 0 !important;
            border-top: 1px solid #dcdfe2;
            display: block;
            
            .custom-radio {
                top: 2px;
            }
            
            img {
                float: right !important;
                margin-right: 0 !important;
            }
            
            label {
                display: inline !important;
            }
        }
        
        #payment-option-1-container {
            border-top: none;
        }
    }


    .additional-information {
        margin-top: 0;
        margin-left: 0;
        p {
            font-size: 0.85rem;
        }
    }

    address, .address {
        border-left: 1px solid $color-custom-green;
        padding-left: 15px;
        color: $color-custom-gray;
        line-height: 1.5;
        font-size: 0.80rem;
        min-height: auto;
    }

    .kr-smart-form {
        width: 100%;
    
        .kr-payment-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            
            &::before {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-lock' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 0;
            }
            
            span {
                text-transform: lowercase;
                display: inline-block;
                
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .password-field-container .password-toggle-btn {
        display: none;
    }

    .content .form-footer.clearfix {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .forgot-password {
        display: flex;
        justify-content: flex-start;
        @media (max-width: $breakpoint-sm) {
            padding-top: 10px !important;
        }

        a {
            border: none;
        }

    }

    section.checkout-step .address-item>header {
        min-height: auto;
    }

    #footer {
        padding-top: 0;
    }

    .custom-checkbox span {
       position: relative;
    }

    .custom-checkbox>label {
        padding-left: 0.5rem;
    }

    .remove-discount-button {
        display: none;
    }

    #js-checkout-summary {
        .alert, .alert-info {
            max-width: 100% !important;
        }
    }

    .cart-summary-line.cart-total {
        padding-bottom: 0 !important;
    }

    .js-cart-summary-totals {
        padding-top: 1rem !important;
    }

    .cart-summary-totals .cart-summary-line {
        padding: 0;
    }

    .cart-summary-line .sub {
        color: $color-custom-black;
    }
}


// PANIER
body#cart {
    .alert {
        margin: 0;
        max-width: 58.5%;
        @media (max-width: 1200px) {
            max-width: 100%;
        }
    }
    h1 {
        @media (max-width: $breakpoint-sm) {
            text-align: center !important;
            margin-bottom: 20px !important;
        }
    }
    .cart-grid {
        margin-bottom: 0;
        background-color: $color-custom-whiteDarker;
    }
    .cart-grid-body {
        background-color: white;
        margin-bottom: 0;
        padding-bottom: 3rem;
        padding-top: 3rem;
        padding-right: 6rem;
        min-height: 48vh;

        @media (max-width: 1024px) {
            padding-right: 2rem;
            padding-left: 2rem;
            min-height: auto;
        }

        @media (max-width: $breakpoint-sm) {
            padding-right: 16px;
            padding-left: 16px;
            min-height: auto;
        }
    }
    .cart-grid-right {
       background-color: $color-custom-whiteDarker;
       padding-left: 6rem;
       padding-right: 10rem;
       padding-top: 3rem;
       padding-bottom: 3rem;

       @media (max-width: 1600px) {
            padding-left: 2rem;
            padding-right: 2rem;
       }

       @media (max-width: $breakpoint-sm) {
            padding-left: 16px;
            padding-right: 16px;
       }

       h3 {
        margin-top: 0;
        margin-bottom: 0;
       }

       .cart-summary {
           background-color: $color-custom-whiteDarker;
       }
    }
    .product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price {
        line-height: inherit;
    }


    .bootstrap-touchspin .input-group-btn-vertical>.btn {
        min-width: auto !important;
    }

    .bootstrap-touchspin {
        display: flex;
    }

    .cart-overview, .cart-items {
        padding: 0 !important;
        margin: 0 !important;
    }

    .cart-overview .cart-item {
        padding: 0;

        .icon-special::after {
            right: -5px;
        }
        

        .product-line-info {
            font-weight: 100;
            display: flex;
            flex-wrap: wrap;
            padding: 1px 0;

            .labelle {
                padding-right: 4px;
            }

            .product-quantity {
                display: flex;
                gap: 3px;
                i {
                    font-size: .3rem;
                    padding-top: 1px;
                }
            }
        }

        .products-lines-infos {
            padding: 2px 0;
        }

        .separator-attribute {
            padding: 0 8px;
        }

        .product-line-grid-body {
            .color-title {
                font-weight: 700 !important;
                font-size: .9rem;
                @media (max-width: $breakpoint-sm) {
                    font-size: 1.15rem;
                }
            }
            .label-attributes {
                padding-top: 3px;
                color: $color-custom-gray;
                font-weight: 100;
            }
        }
    }

    .cart-overview {
        margin-bottom: 3rem !important;
    }

    .product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price {
        line-height: inherit;
    }

    .product-line-grid {
        .mobile-cart-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
        }
        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
            text-align: center;

            .mobile-cart-actions {
                .product-line-grid-right {
                    align-items: center;
                }

                .cart-line-product-actions {
                    text-align: center;

                    i {
                        font-size: 1.5rem;
                    }
                    .icon-special::after {
                        right: -3px;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
    }

    .charity-block {
        border : 1px solid #e5e7eb;
        border-radius: 10px;
        padding: 2rem 3rem;
      
        .donation-block {
          padding-top: 0;
          display: flex;
          align-items: center;
          gap: 2rem;

          @media (max-width: $breakpoint-sm) {
            flex-direction: column;
          }
        }
      
        .donation-title {
          color: #111827;
          padding-bottom: 0.5rem;
        }
      
        .donation-description, .donation-note, .donation-description p {
          color: #4B5563;
          font-size: 0.8rem;
          line-height: 1.3;
          padding-top: 0;
        }
      
        .donation-btn-text {
          min-width: auto;
        }
      
        .donation-price-div {
          width: 80px;
        }
      
        .donation-price-div, .donation-btn {
          padding-top: 0;
        }
      
    }

    .product-features {
        margin: 0 0 8px 0;
        .product-flag {
            font-size: 0.7rem;
            text-transform: inherit;
            background: none;
            color: #68768a;
            border: 1px solid #93A7C3;
            padding: 4px 10px 2px;
            border-radius: 15px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            line-height: 1.2;
            min-height: auto !important;
            min-width: auto;
            font-weight: normal !important;
            text-align: center;
        }       
    }

    .cart-grid-body a.label {
        display: none;
    }

    .continue-shopping {
        .btn-outline {
            width: 100%;
            &:hover {
                color: $color-custom-white !important;
            }
        }
        
        p.font-bold {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &::before, &::after {
                content: '';
                height: 1px;
                background-color: $color-custom-gray;
                flex: 1;
                opacity: 0.5;
            }
            
            &::before {
                margin-right: 15px;
            }
            
            &::after {
                margin-left: 15px;
            }
        }
    }

    #footer {
        .newsletter-container {
            .alert {
                margin: 0 auto;
            }
        }
        .btn-primary:hover, .btn-outline:hover {
            color: $color-custom-white !important;
        }
    }
}


//GLOBAL

.block-promo {
    margin-bottom: 0;
    .promo-code {
        padding: 0;

        .promo-form-group {
            display: flex;
            align-items: center;
            gap: 10px;

            .promo-input {
                width: 80%;
                border-radius: 4px;
                border-color: $color-custom-grayLight !important;
            }

            .btn {
                min-width: auto;
                color: $color-custom-promo !important;
                border-color: $color-custom-promo !important;
                font-size: 13px;
                margin-top: 0;
                margin-left: 0;
                padding: 12px 15px;
                &:hover{
                    background: $color-custom-promo !important;
                    color: $color-custom-white !important;
                }
            }
        }
    }
}

    // Cart Grid Styles
    body#checkout section#content {
        margin-bottom: 0 !important;
    }


#cart {
    .h1 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 1.25rem;
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
    }
  
    .card {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      display: block;
      padding: 0;
    }
  
    .card-block {
      padding: 0;

      a {
        &:hover {
            color: $color-custom-white !important;
        }
      }
    }
  
    .separator {
      display: none;
    }
  
  }

body#discount, body#cart {
    .discount {
        border-radius: 15px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        line-height: 1.2;
        font-size: 0.8rem !important;
        background-color: $color-custom-highlight !important;
        color: #f9fafb !important;
        border-color: $color-custom-highlight !important;
        font-weight: 900;
        padding: 4px 10px 2px;
    }

    a {
        &:hover {
            color: $color-custom-gray !important;
        }
    }

    .cart-summary {
        .cart-total {
            padding: 1rem 0 0 0;
        }
    }

    .cart-summary-line:last-child {
        padding: 0 0 1rem 0;
    }

    #cart-subtotal-shipping {
        .value {
            color: $color-custom-green;
            text-transform: capitalize;
        }
    }

    .remove-discount-button {
        display: none;
    }

    .cart-summary-line .remove-discount-text {
        &:hover {
            color: $color-custom-gray !important;
        }
    }

    .promo-form-group {
        padding: 1.25rem 0;
    }
    
}

.cart-summary-line .remove-discount-text, .cart-summary-line a {
    font-size: .9rem !important;
    padding-left: 5px !important;
    color: color.adjust($color-custom-gray, $lightness: 15%) !important;
    transition: color .2s ease-in-out !important;
    border: none !important;
    &:hover {
        color: $color-custom-gray !important;
    }
}

.cart-total {
    margin-bottom: 0 !important;
}

#checkout-steps-status{
    text-align: center;

    i {
        font-size: 1rem !important;
        padding-top: 0 !important;
        margin-right: 0 !important;
    }
}


.cart-grid-body{
    #conditions-to-approve, #payment-confirmation {
        display: none !important;

        @media (max-width: $breakpoint-md) {
            display: block !important;
        }

        .btn {
            width: 100%;
        }
    }
}

#js-checkout-summary {
    .js-cart-summary-checkout-button {
        @media (max-width: $breakpoint-md) {
            display: none !important;
        }
    }
}



/* BLOCK ADVANTAGE */
.cart-advantages {
    .title-separator {
        #logoTitle {
            width: 22px;
        }
        &::before {
            right: calc(50% + 16px + 0.1rem);
        }
        &::after {
            left: calc(50% + 16px + 0.1rem);
        }
    }

    .advantage-block {
        .advantage-icon {
            i {
                font-size: 1.6rem;
                &::after {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .advantage-texte {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .advantage-content {
            h5 {
                color: color.adjust($color-custom-gray, $lightness: 10%) !important;
            }

            .advantage-texte {
                padding-top: 10px;

                p {
                    padding-bottom: 0;
                    color: color.adjust($color-custom-gray, $lightness: 10%) !important;
                }
            }
     
            .discount-blocks {
                .discount-row {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    
                    .discount-block {
                        margin-top: 10px;
                        .discount-amount {
                            font-size: 1.4rem;
                            font-weight: bold;
                            color: color.adjust($color-custom-gray, $lightness: 10%);
                        }
                        
                        .discount-condition {
                            font-size: 0.8rem;
                            color: color.adjust($color-custom-gray, $lightness: 10%);
                        }
                    }
                }
            }
        }
    }

    .help-block {
        h5 {
            color: color.adjust($color-custom-gray, $lightness: 10%) !important;
            font-size: 1rem;
            margin-bottom: 10px;
        }
        .title-separator {
            display: none;
        }
        
        .contact-text, .contact-email {
            color: color.adjust($color-custom-gray, $lightness: 10%) !important;
        }
        .contact-phone {
            font-size: 0.8rem !important;
        }
    }
    
}


body#checkout, body#cart {
    @media (max-width: 991px) {
        #content-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
        
    }
}
