@use "../variables" as *;
@use 'sass:color';

/** === PAGE MON COMPTE === */

body#my-account {
    // CONTENT
    .content-account {
        p {
            text-align: center;
            padding: 25px 0;
        }
        i {
            font-size: 6rem;
        }
        h2 {
            text-align: center;
            font-size: 1.3rem;
            margin-top: 15px;
        }
    }

    .btn-primary {
            font-size: 1.3rem;
            margin-bottom: 150px;
    }

    // LEFT COLUMN
    .left-column-content {
        .account-list {
            border-radius: 4px;
            padding: 1rem;
            margin-top: 150px;
            font-weight: 100;
            
            .customer-info {
                margin-bottom: 1.5rem;
                padding-left: 44px;
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 1.7rem;
                }

                .customer-email {
                    font-size: 1rem;
                    color: $color-custom-gray;
                    font-weight: 100;
                    padding-bottom: 0;
                    text-align: left;
                }
            }
            
            .account-link {
                display: flex;
                align-items: center;
                padding: 0.5rem 0;
                color: $color-custom-gray;
                transition: all 0.2s ease;
                text-decoration: none;
                
                i {
                    margin-right: 0.75rem;
                    font-size: 1.2rem;
                    vertical-align: middle;
                }
                
                span {
                    flex: 1;
                }
                
                &:hover {
                    color: color.adjust($color-custom-gray, $lightness: -15%);
                    transform: translateX(5px);
                    font-weight: 700;
                }
            }

            #gdpr-link-side {
                margin-bottom: 10px;
            }

            #logout-link-side {
                margin-top: 10px;
            }
        }
    }
}