@use "../variables" as *;
@use 'sass:color';

/* === PAGE CHECKOUT === */

body#checkout { 
    background-color: #ffff;

    .header-nav {
        min-height: 130px;

        .logo {
            @media (max-width: $breakpoint-sm) {
                max-width: 230px !important;
            }
        }

        #_desktop_logo {
            align-items: baseline;
            height: auto;
        }
        
        .secure-block {
            justify-content: center;
            height: auto;
        }
        .secure-checkout-text {
            color: $color-custom-white;
            font-weight: bold;
            position: relative;
    
            i {
                font-size: 1.3rem;
            }
        }
    }

    .checkout-footer {
        border-top: 1px solid $color-custom-gray;
        background-color: #ffff;
        padding-top: 25px;
    }

    .copyright {
        font-size: .85rem;
    }

    
    // SECTION STEPS
    .checkout-progress-bar {
        display: flex;
        justify-content: center;
        margin: 0.3rem 0 1.5rem 0;
    }

    .checkout-steps {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        
        .step {
            color: $color-custom-gray;
            position: relative;
            
            &.current {
                color: $color-custom-highlight;
                font-weight: bold;
            }
            
            &.done {
                color: $color-custom-gray;
                margin-right: 0;
            }
            
            &::after {
                content: '';
                display: inline-block;
                width: 2rem;
                height: 1px;
                background-color: #dcdfe2;
                margin-left: 2rem;
                position: relative;
                top: -0.2rem;
            }
            
            &:last-child::after {
                display: none;
            }
        }
    }
    
    // Cart Grid Styles
    .cart-grid {
        &-body, &-right {
            padding-top: 3rem;
            
        }
        
        &-body {
            padding-left: 8rem;
            padding-right: 7rem;
            margin-bottom: 0;
            @media (max-width: $breakpoint-md) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        
        &-right {
            padding-left: 7rem;
            padding-right: 10rem;
            background: $color-custom-whiteDarker;
            
            h3 {
                margin-top: 0;
                margin-bottom: 1.25rem;
            }
            
            .card,
            .card-block {
                padding: 0;
                background: transparent;
            }
        }
    }
    
    // Cart Summary Styles
    .cart-summary {
        &-line {
            .label,
            .value {
                color: $color-custom-gray;
            }
            
            &.cart-total span {
                color: $color-custom-black;
            }
            
            .free {
                color: $color-custom-green;
            }
        }
        
        &-products .js-show-details {
            color: $color-custom-gray !important;
            font-weight: 500;
            border-bottom: none !important;
            font-size: 0.8rem;
        }
        
        &-subtotals span {
            font-size: 0.9rem !important;
        }
    }
    
    // Cart Summary Product List
    #cart-summary-product-list {
        border-radius: 4px;
        background: white;
        padding: 15px;
        margin-bottom: 1rem;
        
        a, a:hover {
            border-bottom: none;
        }
        
        ul {
            margin-top: 0;
        }
        
        .product-name a {
            color: $color-custom-black;
            font-weight: 500;
            font-size: 0.85rem;
        }
        
        .product-price {
            color: $color-custom-black;
            font-weight: bold;
            font-size: 0.85rem;
        }
        
        .media {
            border-top: 1px solid #dcdfe2;
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            color: $color-custom-gray;
            font-size: 0.75rem !important;
            
            &:first-child {
                border-top: none;
            }
        }
        
        picture {
            width: 50px;
            display: inline-block;
        }
        
        img {
            border: none !important;  
        }
    }
    
    // Checkout Step Styles
    section.checkout-step {
        .delete-address, .edit-address {
            .delete, .edit {
                font-size: 0.8rem;
            }
            i {
                margin-right: 3px;
            }
            &:hover {
                color: $color-custom-white !important;
            }
        }
        
        .address-item {
            border-radius: 4px;
            background: white;
            border: 1px solid transparent;
            
            &.selected {
                border: 2px solid $color-custom-green;
            }
        }
        
        .delivery-options .delivery-option {
            &:not(:last-child) {
                background: transparent;
                border-right: none;
                border-bottom: 1px solid #dcdfe2;
            }
        }
    }
    
    .checkout-step .address-alias {
        font-size: 1rem;
        margin-top: 0;
    }
    
    // Cart Grid Subtotals
    .cart-grid-right .card .cart-summary-subtotals-container .cart-summary-line:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    
    // Delivery Options
    .delivery-options {
        line-height: 1.1;
    }
    
    .carrier-price {
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .delivery-option .bi {
        font-size: 2rem;
    }
    
    #order-carrier-text {
        width: 100%;
        max-width: 100%;
        
        p {
            font-size: 0.8rem;
            margin-bottom: 5px;
        }
    }
    
    // Conditions to Approve
    #conditions-to-approve {
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        max-width: 100%;
        
        .condition-label {
            margin-top: 0 !important;
        }
        
        ul {
            padding-left: 0;
            margin: 0;
        }
    }
    
    // Payment Options
    .payment-options {
        .payment-option {
            padding: 1.5rem 0;
            margin-bottom: 0 !important;
            border-top: 1px solid #dcdfe2;
            display: block;
            
            .custom-radio {
                top: 2px;
            }
            
            img {
                float: right !important;
                margin-right: 0 !important;
            }
            
            label {
                display: inline !important;
            }
        }
        
        #payment-option-1-container {
            border-top: none;
        }
    }


    .additional-information {
        margin-top: 0;
        margin-left: 0;
        p {
            font-size: 0.85rem;
        }
    }

    address, .address {
        border-left: 1px solid $color-custom-green;
        padding-left: 15px;
        color: $color-custom-gray;
        line-height: 1.5;
        font-size: 0.80rem;
        min-height: auto;
    }

    .kr-smart-form {
        width: 100%;
    
        .kr-payment-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            
            &::before {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-lock' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 0;
            }
            
            span {
                text-transform: lowercase;
                display: inline-block;
                
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .password-field-container .password-toggle-btn {
        right: 180px;
    }

    section.checkout-step .address-item>header {
        min-height: auto;
    }

    #footer {
        padding-top: 0;
    }

}

body#cart {
    .bootstrap-touchspin .input-group-btn-vertical>.btn {
        min-width: auto !important;
    }
}