@use '../variables' as *;

/* === Page des catégories et des marques === */
body#category {
    #wrapper {
        p {
            margin-bottom: 0;
        }
    }

    #js-product-list {
        .page-not-found {
            position: relative;
        }
        #search_widget {
            position: relative;
            margin-bottom: 30px;
        }
    }
}

// Styles pour l'en-tête de la page marque
#manufacturer-short_description,
#category-description {

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #4B5563 !important;
        @media (max-width: $breakpoint-md) {
            font-size: 1rem;
        }
    }
}

#manufacturer-description {
    margin-top: 50px;
}


#products {
    margin: 25px auto 50px auto;
}

#subcategories ul li {
    min-width: auto;
    width: auto;
    margin: 15px 5px !important;
}

#subcategories {
    padding: 0;
    border-top: none;
    .subcategories-list {
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.block-category {
    min-height: auto;
    margin-bottom: 0;
    h1 {
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
}
    