@use '../variables' as *;
@use 'sass:color';

/** === PAGE BRANDS === */

body#manufacturer, .featured-brands {
    .breadcrumb {
        display: none;
    }
    
    /* Force l'alignement des éléments dans la grille */
    #main .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    /* Classe personnalisée pour avoir 5 colonnes en desktop */
    #main .col-xl-full {
        @media (min-width: 1200px) and (max-width: 1700px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    .featured-brands {
        margin-bottom: 80px;
    }
    
    .brand-miniature {
        margin: 50px 0 80px 0;
    }
    
    
    /* Styles pour les cards des marques */
    .brand-card {
        display: flex;
        flex-direction: column;
        border: 1px solid $color-custom-grayLight;
        border-radius: 12px;
        padding: 20px;
        height: 100%;
        min-height: 440px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 60px;

        /* Styles spécifiques pour les marques phares */
        &.featured-brand-card {
            padding: 0 0 60px 0;
            overflow: hidden;
            
            .brand-card-header {
                width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                
                .brand-header-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .featured-logo {
                position: absolute;
                top: 150px;
                left: 20%;
                transform: translateX(-50%);
                background-color: $color-custom-white;
                border-radius: 50%;
                border: 1px solid $color-custom-gray;
                padding: 20px;
                width: 170px;
                height: 170px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
                
                @media (max-width: 1599px) {
                    top: 150px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
                img {
                    width: 120px;
                    height: 120px;
                    max-width: none;
                }
            }
            
            .featured-title {
                text-align: center !important;
                justify-content: center;
                font-size: 24px;
                margin-top: 50px;

                @media (max-width: 1599px) {
                    margin-top: 110px;
                }
            }
            
            .featured-description {
                text-align: left;
                padding: 0 40px;
                
                p {
                    font-size: 16px;
                    padding: 10px 0;
                    color: $color-custom-gray;
                }
            }
            
            .brand-card-action {
                text-align: left;
                padding: 0 40px;
            }
        }

        @media (max-width: $breakpoint-sm) {
            min-width: 280px;
        }
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        
        .brand-card-logo {
            text-align: center;
            margin-bottom: 5px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                height: 120px;
                width: 120px;;
                object-fit: contain;
                max-width: none;
            }
        }
        
        .brand-card-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            text-align: left !important;
            color: $color-custom-black;
            height: 40px; 
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .brand-card-description {
            color: $color-custom-gray;
            flex-grow: 1;
            margin-bottom: 0;
            text-align: left;

            p {
                font-size: 16px;
            }
        }
        
        .brand-card-action {
            text-align: left;
            position: absolute;
            bottom: 20px;
            
          
        }
    }
}

body#index {
    .brands-title {
        display: none;   
    }
}

.brands-manufacturers-section {
    background-color: $color-custom-bgLight;
}