/* Custom CMS Styles */
@use '../variables' as *;

body#cms {
    #main {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        
        #content {
            p {
                img {
                    margin: 0 auto;
                }
            }

        }
    }
}

// CMS Categories
body.cms-id-7 {
    #main {
        max-width: inherit !important;

        .category-list {
           list-style: none;
           padding-left: 0;

           h2 {
            font-size: 1.1rem;
           }

           a {
            color: $color-custom-black;
            border-bottom: none;
           }


           img {
            border-radius: 15px;
           }

           .category-info {
            padding: 0 15px 15px 15px;
           }
        }

        .subcategory-list {
            h3 {
             display: inline-block;
             font-size: 1rem;   
             
             a {
                color: $color-custom-gray;
             }
            }
        }
    }
}