/* Custom CMS Styles */
@use '../variables' as *;

body#cms {
    #main {
        max-width: $breakpoint-xl;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;

        h1 {
          margin-top: 70px;
        }
        
        #content {
            p {
                img {
                    margin: 0 auto;
                }
            }

        }
    }
}

// CMS Page Catégorie
body.cms-id-7 {
    #main {
        max-width: inherit !important;

        .category-list {
           list-style: none;
           padding-left: 0;
           display: flex;
           flex-wrap: wrap;
           justify-content: flex-start;

          

           .category-content {
            display: flex;
            flex-direction: column;
            height: 100%;
           }

           .category-block {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
           }

           h2 {
            font-size: 1.5rem;
            a {
                color:$color-custom-black;
                border-bottom: none;
                &:hover {
                    text-decoration: underline;
                 }
            }
           }

           img {
            border-radius: 15px;
           }

           .category-info {
            padding: 0 15px 15px 15px;
            display: flex;
            flex-direction: column;
            flex: 1;

            .custom-scrollbar {
              max-height: 150px;
              overflow-y: auto;
              p {
                padding-bottom: 15px;
              }
            }

            .view-all-products {
              margin-top: 10px;
              margin-bottom: 10px;
              display: inline-block;
              align-self: flex-start;
              clear: both;
            }

            .subcategory-list {
              clear: both;
              display: block;
              width: 100%;
              margin-bottom: 0;
            }
           }
        }

        .subcategory-list {
            padding-left: 0;
            h3 {
             display: inline-block;
             font-size: 1rem;
             
             a {
                color: $color-custom-gray;
                border-bottom: none;
                &:hover {
                    color: $color-custom-black;
                    text-decoration: underline;
                 }
             }
            }
        }
    }
}
// END CMS Page Catégorie