@use '../variables' as *;
@use '../partials/block_therapeute';
@use '../partials/card_therapeute';

/** === PAGE CONTACT === */

body#contact {
    .breadcrumb {
        display: none;
    }
    
    #wrapper {
        position: relative;
        background: $color-custom-bgWrapper;
        overflow: hidden;

        #main {
            @media (max-width: $breakpoint-sm) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .card {
            border: none;
            padding-top: 0;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 33.33%;
            height: 100vh; /* Étendre à toute la hauteur de la fenêtre visible */
            min-height: 100%; /* Au minimum la hauteur du contenu */
            background-color: $color-custom-whiteDarker;
            z-index: 0;
            
            @media (max-width: $breakpoint-md) {
                display: none;
            }
        }
        
        #content-wrapper, #right-column {
            position: relative;
            z-index: 1;
        }

        .contact-form {
            border-bottom: 1px solid $color-custom-gray;
            margin-bottom: 4rem;

            @media (max-width: $breakpoint-sm) {
                padding: 0;
            }

            form {
                .form-footer {
                    .btn {
                        width: 300px;
                        font-size: 18px;
                        margin-bottom: 50px;
                        
                        @media (max-width: $breakpoint-sm) {
                            width: 100% !important;
                        }
                    }
                }

                #id_contact {
                    padding-top: 12px !important;
                    padding-bottom: 12px !important;
                }
            }
        }
    }

    .section-therap {
        a {
            border-bottom: none !important;
            color: $color-custom-gray;

            &:hover {
                color: $color-custom-black !important;
            }
        }

        hr {
            margin-bottom: 16px;
        }
    }
}