@charset "UTF-8";
/**
 * Styles personnalisés pour les pages de mot de passe oublié
 * Thème classic_tailwind
 */
body#password #content-wrapper {
  min-height: auto !important;
}
body#password #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#password #content {
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 0;
  padding: 0 1rem;
  border: none;
}
@media (max-width: 640px) {
  body#password #content {
    padding: 0;
  }
}
body#password #content .forgotten-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  body#password #content .forgotten-password .form-fields {
    max-width: 450px;
    padding: 0 1rem;
  }
}
@media (max-width: 640px) {
  body#password #content .forgotten-password .form-fields {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}
body#password #content .forgotten-password .form-fields .form-group {
  margin-bottom: 0.8rem;
}
@media (max-width: 640px) {
  body#password #content .forgotten-password .form-fields .form-group-btn .primary-btn {
    width: 100%;
    min-width: unset;
  }
}
body#password .page-footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 50px;
}
@media (max-width: 640px) {
  body#password .page-footer {
    margin-bottom: 2rem;
  }
}
body#password .page-footer a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #4B5563;
}
body#password .page-footer a:hover {
  color: #111827;
}

#password .page-header {
  margin-bottom: 0;
}

.forgotten-password .form-fields label.required {
  width: inherit;
}
