/* === PAGE CHECKOUT === */
body#checkout {
  background-color: white;
}
body#checkout #_desktop_language_selector {
  display: none;
}
body#checkout .checkout-footer {
  border-top: 1px solid #4B5563;
  background-color: white;
  padding-top: 25px;
}
body#checkout .copyright {
  font-size: 0.85rem;
}
body#checkout .checkout-progress-bar {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 1.5rem 0;
}
body#checkout .checkout-steps {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
body#checkout .checkout-steps .step {
  color: #4B5563;
  position: relative;
}
body#checkout .checkout-steps .step.current {
  color: #e45b7f;
  font-weight: bold;
}
body#checkout .checkout-steps .step.done {
  color: #4B5563;
  margin-right: 0;
}
body#checkout .checkout-steps .step::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1px;
  background-color: #dcdfe2;
  margin-left: 2rem;
  position: relative;
  top: -0.2rem;
}
body#checkout .checkout-steps .step:last-child::after {
  display: none;
}
@media (max-width: 768px) {
  body#checkout #content > .row {
    display: flex;
    flex-direction: column;
  }
}
body#checkout .cart-grid-body, body#checkout .cart-grid-right {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
body#checkout .cart-grid-body {
  padding-left: 8rem;
  padding-right: 6rem;
  margin-bottom: 0;
  background: white;
  min-height: 800px;
}
@media (max-width: 768px) {
  body#checkout .cart-grid-body {
    padding-left: 0;
    padding-right: 0;
    order: 2 !important;
  }
}
body#checkout .cart-grid-right {
  padding-left: 6rem;
  padding-right: 10rem;
  background: #EDEFF1;
}
@media (max-width: 640px) {
  body#checkout .cart-grid-right {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  body#checkout .cart-grid-right {
    padding: 47px 47px;
    order: 1 !important;
  }
}
body#checkout .cart-grid-right h3 {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
body#checkout .cart-grid-right .card,
body#checkout .cart-grid-right .card-block {
  padding: 0;
  background: transparent;
}
body#checkout .cart-summary-products .js-show-details {
  color: #4B5563 !important;
  font-weight: 500;
  border-bottom: none !important;
  font-size: 0.8rem;
}
body#checkout .cart-summary-subtotals span {
  font-size: 16px !important;
}
body#checkout #cart-summary-product-list {
  border-radius: 4px;
  background: white;
  padding: 15px;
  margin-bottom: 1rem;
}
body#checkout #cart-summary-product-list a, body#checkout #cart-summary-product-list a:hover {
  border-bottom: none;
}
body#checkout #cart-summary-product-list ul {
  margin-top: 0;
}
body#checkout #cart-summary-product-list .product-name a {
  color: #111827;
  font-weight: 500;
  font-size: 0.85rem;
}
body#checkout #cart-summary-product-list .product-price {
  color: #111827;
  font-weight: bold;
  font-size: 0.85rem;
}
body#checkout #cart-summary-product-list .media {
  border-top: 1px solid #dcdfe2;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  color: #4B5563;
  font-size: 0.75rem !important;
}
body#checkout #cart-summary-product-list .media:first-child {
  border-top: none;
}
body#checkout #cart-summary-product-list picture {
  width: 50px;
  display: inline-block;
}
body#checkout #cart-summary-product-list img {
  border: none !important;
}
@media (max-width: 640px) {
  body#checkout section.checkout-step .add-address {
    margin-top: 0;
  }
}
body#checkout section.checkout-step .add-address a {
  align-items: center;
}
@media (max-width: 640px) {
  body#checkout section.checkout-step .add-address a {
    font-size: 0.8rem;
  }
}
body#checkout section.checkout-step .add-address a i {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}
body#checkout section.checkout-step .step-title {
  font-size: 1rem !important;
}
@media (max-width: 640px) {
  body#checkout section.checkout-step .step-title {
    padding-left: 1rem;
  }
}
@media (max-width: 640px) {
  body#checkout section.checkout-step #delivery-addresses, body#checkout section.checkout-step #invoice-addresses {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  body#checkout section.checkout-step .address-footer {
    text-align: left;
  }
}
@media (max-width: 640px) {
  body#checkout section.checkout-step .address-footer a {
    font-size: 0.8rem;
  }
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit {
  font-size: 0.8rem;
}
body#checkout section.checkout-step .delete-address i, body#checkout section.checkout-step .edit-address i {
  margin-right: 3px;
}
body#checkout section.checkout-step .delete-address:hover, body#checkout section.checkout-step .edit-address:hover {
  color: #f9fafb !important;
}
body#checkout section.checkout-step .address-item {
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
}
body#checkout section.checkout-step .address-item.selected {
  border: 2px solid #ba9d75;
  width: 100%;
}
body#checkout section.checkout-step .delivery-options .delivery-option:not(:last-child) {
  background: transparent;
  border-right: none;
  border-bottom: 1px solid #dcdfe2;
}
body#checkout .checkout-step .address-alias {
  font-size: 1rem;
  margin-top: 0;
}
body#checkout .cart-grid-right .card .cart-summary-subtotals-container .cart-summary-line:not(:last-child) {
  margin-bottom: 1rem;
}
body#checkout .delivery-options {
  line-height: 1.1;
}
body#checkout .carrier-price {
  font-weight: bold;
  text-transform: capitalize;
}
body#checkout .delivery-option .bi {
  font-size: 2rem;
}
body#checkout #order-carrier-text {
  width: 100%;
  max-width: 100%;
}
body#checkout #order-carrier-text p {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
body#checkout #conditions-to-approve {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  max-width: 100%;
}
@media (max-width: 640px) {
  body#checkout #conditions-to-approve {
    padding: 0.5rem 1rem;
  }
}
body#checkout #conditions-to-approve .condition-label {
  margin-top: 0 !important;
}
body#checkout #conditions-to-approve ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
body#checkout .payment-options .payment-option {
  padding: 1.5rem 0;
  margin-bottom: 0 !important;
  border-top: 1px solid #dcdfe2;
  display: block;
}
body#checkout .payment-options .payment-option .custom-radio {
  top: 2px;
}
body#checkout .payment-options .payment-option img {
  float: right !important;
  margin-right: 0 !important;
}
body#checkout .payment-options .payment-option label {
  display: inline !important;
}
body#checkout .payment-options #payment-option-1-container {
  border-top: none;
}
body#checkout .additional-information {
  margin-top: 0;
  margin-left: 0;
}
body#checkout .additional-information p {
  font-size: 0.85rem;
}
body#checkout address, body#checkout .address {
  border-left: 1px solid #ba9d75;
  padding-left: 15px;
  color: #4B5563;
  line-height: 1.5;
  font-size: 0.8rem;
  min-height: auto;
}
body#checkout .kr-smart-form {
  width: 100%;
}
body#checkout .kr-smart-form .kr-payment-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body#checkout .kr-smart-form .kr-payment-button::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-lock' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 0;
}
body#checkout .kr-smart-form .kr-payment-button span {
  text-transform: lowercase;
  display: inline-block;
}
body#checkout .kr-smart-form .kr-payment-button span::first-letter {
  text-transform: uppercase;
}
body#checkout .password-field-container .password-toggle-btn {
  display: none;
}
body#checkout .content .form-footer.clearfix {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
body#checkout .forgot-password {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 640px) {
  body#checkout .forgot-password {
    padding-top: 10px !important;
  }
}
body#checkout .forgot-password a {
  border: none;
}
body#checkout section.checkout-step .address-item > header {
  min-height: auto;
}
body#checkout #footer {
  padding-top: 0;
}
body#checkout .custom-checkbox span {
  position: relative;
}
body#checkout .custom-checkbox > label {
  padding-left: 0.5rem;
}
body#checkout .remove-discount-button {
  display: none;
}
body#checkout #js-checkout-summary .alert, body#checkout #js-checkout-summary .alert-info {
  max-width: 100% !important;
  padding: 8px;
}
body#checkout #js-checkout-summary .alert-info ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
}
body#checkout #js-checkout-summary .alert-info ul li .condition-label {
  padding-left: 0;
  margin: 0;
  margin-bottom: 0;
  text-align: left;
  display: flex;
}
body#checkout #js-checkout-summary .alert-info ul li .condition-label label {
  margin-bottom: 0;
}
body#checkout #js-checkout-summary .alert-info ul li .custom-checkbox {
  display: block;
  padding-right: 2px;
}
body#checkout .cart-summary-line.cart-total {
  padding-bottom: 0 !important;
}
body#checkout .js-cart-summary-totals {
  padding-top: 1rem !important;
}
body#checkout .cart-summary-totals .cart-summary-line {
  padding: 0;
}

body#cart .alert {
  margin: 0;
}
@media (max-width: 1200px) {
  body#cart .alert {
    max-width: 100%;
  }
}
body#cart .cart-grid {
  margin-bottom: 0;
  background-color: #EDEFF1;
}
body#cart .cart-grid-body {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-right: 6rem;
  min-height: 95vh;
}
@media (max-width: 1024px) {
  body#cart .cart-grid-body {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    min-height: auto;
  }
}
@media (min-width: 1700px) and (max-width: 1920px) {
  body#cart .cart-grid-body {
    min-height: 127vh;
  }
}
body#cart .cart-grid-right {
  background-color: #EDEFF1;
  padding-left: 6rem;
  padding-right: 10rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
@media (max-width: 1600px) {
  body#cart .cart-grid-right {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
body#cart .cart-grid-right h3 {
  margin-top: 0;
  margin-bottom: 0;
}
body#cart .cart-grid-right .cart-summary {
  background-color: #EDEFF1;
}
body#cart .cart-grid-right .btn-primary:hover {
  color: white !important;
}
body#cart .product-line-grid-right .cart-line-product-actions, body#cart .product-line-grid-right .product-price {
  line-height: inherit;
}
body#cart .bootstrap-touchspin .input-group-btn-vertical > .btn {
  min-width: auto !important;
}
body#cart .bootstrap-touchspin {
  display: flex;
}
@media (max-width: 768px) {
  body#cart .bootstrap-touchspin {
    margin-left: 185px;
  }
}
body#cart .cart-overview, body#cart .cart-items {
  padding: 0 !important;
  margin: 0 !important;
}
body#cart .cart-overview .cart-item {
  padding: 0;
}
body#cart .cart-overview .cart-item .icon-special::after {
  right: -5px;
}
body#cart .cart-overview .cart-item .product-line-info {
  display: flex;
  flex-wrap: wrap;
  padding: 1px 0;
}
body#cart .cart-overview .cart-item .product-line-info .labelle {
  padding-right: 4px;
}
body#cart .cart-overview .cart-item .product-line-info .product-quantity {
  display: flex;
  gap: 3px;
}
body#cart .cart-overview .cart-item .product-line-info .product-quantity i {
  font-size: 0.3rem;
  padding-top: 1px;
}
body#cart .cart-overview .cart-item .products-lines-infos {
  padding: 2px 0;
}
body#cart .cart-overview .cart-item .separator-attribute {
  padding: 0 8px;
}
body#cart .cart-overview .cart-item .product-line-grid-body .color-title {
  font-weight: 700 !important;
  font-size: 0.9rem;
}
body#cart .cart-overview .cart-item .product-line-grid-body .label-attributes {
  padding-top: 3px;
  color: #4B5563;
  font-weight: 100;
}
body#cart .cart-overview {
  margin-bottom: 3rem !important;
}
body#cart .product-line-grid-right .cart-line-product-actions, body#cart .product-line-grid-right .product-price {
  line-height: inherit;
}
body#cart .product-line-grid .mobile-cart-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 640px) {
  body#cart .product-line-grid .mobile-cart-actions {
    justify-content: inherit;
  }
}
body#cart .charity-block {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 2rem;
}
body#cart .charity-block .donation-block {
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 640px) {
  body#cart .charity-block .donation-block {
    flex-direction: column;
  }
}
body#cart .charity-block .donation-group {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
body#cart .charity-block .donation-group .donation-price {
  width: 70px !important;
}
body#cart .charity-block .donation-title {
  color: #111827;
  padding-bottom: 0.5rem;
}
body#cart .charity-block .donation-description, body#cart .charity-block .donation-note, body#cart .charity-block .donation-description p {
  color: #4B5563;
  font-size: 0.8rem;
  line-height: 1.3;
  padding-top: 0;
}
body#cart .charity-block .donation-btn-text {
  min-width: auto;
  font-size: 0.8rem !important;
}
body#cart .charity-block .donation-price-div {
  width: 80px;
}
body#cart .charity-block .donation-price-div, body#cart .charity-block .donation-btn {
  padding-top: 0;
}
body#cart .product-features {
  margin: 0 0 8px 0;
}
body#cart .product-features .product-flag {
  font-size: 0.7rem;
  text-transform: inherit;
  background: none;
  color: #68768a;
  border: 1px solid #93A7C3;
  padding: 4px 10px 2px;
  border-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  line-height: 1.2;
  min-height: auto !important;
  min-width: auto;
  font-weight: normal !important;
  text-align: center;
}
body#cart .cart-grid-body a.label {
  display: none;
}
body#cart #footer .newsletter-container .alert {
  margin: 0 auto;
}
body#cart #footer .btn-primary:hover, body#cart #footer .btn-outline:hover {
  color: #f9fafb !important;
}
body#cart input.js-cart-line-product-quantity.w-full.border.text-center.rounded.form-control {
  max-width: 60px;
}

.block-promo {
  margin-bottom: inherit;
}
.block-promo .promo-code {
  padding: 0;
}
.block-promo .promo-code .promo-form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.block-promo .promo-code .promo-form-group .promo-input {
  width: 80%;
  border-radius: 4px;
  border-color: #111827 !important;
}
.block-promo .promo-code .promo-form-group .btn {
  min-width: auto;
  color: #111827 !important;
  border-color: #111827 !important;
  font-size: 13px;
  margin-top: 0;
  margin-left: 0;
  padding: 12px 15px;
  height: 40px;
}
.block-promo .promo-code .promo-form-group .btn:hover {
  background: #111827 !important;
  color: #f9fafb !important;
}

body#checkout section#content {
  margin-bottom: 0 !important;
}

#cart .h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}
#cart .card {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  display: block;
  padding: 0;
}
#cart .separator {
  display: none;
}

body#discount .discount, body#cart .discount {
  border-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  line-height: 1.2;
  font-size: 0.8rem !important;
  background-color: #e45b7f !important;
  color: #f9fafb !important;
  border-color: #e45b7f !important;
  font-weight: 900;
  padding: 2px 10px 2px;
}
body#discount #content-wrapper a:hover, body#cart #content-wrapper a:hover {
  color: #4B5563;
}
body#discount .cart-summary-line .value, body#cart .cart-summary-line .value {
  color: inherit;
}
body#discount .card-block.cart-summary-totals .cart-summary-line.cart-total .label, body#discount .card-block.cart-summary-totals .cart-summary-line.cart-total .value, body#cart .card-block.cart-summary-totals .cart-summary-line.cart-total .label, body#cart .card-block.cart-summary-totals .cart-summary-line.cart-total .value {
  font-size: inherit;
}
body#discount .card-block.cart-summary-totals .cart-summary-line.cart-total, body#cart .card-block.cart-summary-totals .cart-summary-line.cart-total {
  padding-bottom: 0;
}
body#discount #cart-subtotal-shipping, body#cart #cart-subtotal-shipping {
  margin-bottom: 0;
}
body#discount .cart-summary-line .label, body#discount .cart-summary-line .value, body#cart .cart-summary-line .label, body#cart .cart-summary-line .value {
  font-size: inherit;
}
body#discount .remove-discount-button, body#cart .remove-discount-button {
  display: none;
}
body#discount .cart-summary-line .remove-discount-text:hover, body#cart .cart-summary-line .remove-discount-text:hover {
  color: #4B5563 !important;
}
body#discount .promo-code-button, body#cart .promo-code-button {
  display: none !important;
}
body#discount #promo-code, body#cart #promo-code {
  display: block !important;
}

.cart-summary-line .remove-discount-text, .cart-summary-line a {
  font-size: 0.9rem !important;
  padding-left: 5px !important;
  color: rgb(107.974137931, 122.3706896552, 142.525862069) !important;
  transition: color 0.2s ease-in-out !important;
  border: none !important;
}
.cart-summary-line .remove-discount-text:hover, .cart-summary-line a:hover {
  color: #4B5563 !important;
}

.cart-total {
  margin-bottom: 0 !important;
}

#checkout-steps-status {
  text-align: center;
}
#checkout-steps-status i {
  font-size: 1rem !important;
  padding-top: 0 !important;
  margin-right: 0 !important;
}

.cart-grid-body #conditions-to-approve, .cart-grid-body #payment-confirmation {
  display: none !important;
}
@media (max-width: 768px) {
  .cart-grid-body #conditions-to-approve, .cart-grid-body #payment-confirmation {
    display: block !important;
  }
}
.cart-grid-body #conditions-to-approve .btn, .cart-grid-body #payment-confirmation .btn {
  width: 100%;
}

@media (max-width: 768px) {
  #js-checkout-summary .js-cart-summary-checkout-button {
    display: none !important;
  }
}

/* BLOCK ADVANTAGE */
.cart-advantages .title-separator #logoTitle {
  width: 22px;
}
.cart-advantages .title-separator::before {
  right: calc(50% + 16px + 0.1rem);
}
.cart-advantages .title-separator::after {
  left: calc(50% + 16px + 0.1rem);
}
.cart-advantages .advantage-block .advantage-icon i {
  font-size: 1.6rem;
}
.cart-advantages .advantage-block .advantage-icon i::after {
  width: 20px;
  height: 20px;
}
.cart-advantages .advantage-block .advantage-texte {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart-advantages .advantage-block .advantage-content h5 {
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793) !important;
}
.cart-advantages .advantage-block .advantage-content .advantage-texte {
  padding-top: 10px;
}
.cart-advantages .advantage-block .advantage-content .advantage-texte p {
  padding-bottom: 0;
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793) !important;
}
.cart-advantages .advantage-block .advantage-content .discount-blocks .discount-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cart-advantages .advantage-block .advantage-content .discount-blocks .discount-row .discount-block {
  margin-top: 10px;
}
.cart-advantages .advantage-block .advantage-content .discount-blocks .discount-row .discount-block .discount-amount {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793);
}
.cart-advantages .advantage-block .advantage-content .discount-blocks .discount-row .discount-block .discount-condition {
  font-size: 0.8rem;
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793);
}
.cart-advantages .help-block h5 {
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793) !important;
  font-size: 1rem;
  margin-bottom: 10px;
}
.cart-advantages .help-block .title-separator {
  display: none;
}
.cart-advantages .help-block .contact-text, .cart-advantages .help-block .contact-email {
  color: rgb(96.9827586207, 109.9137931034, 128.0172413793) !important;
}
.cart-advantages .help-block .contact-phone {
  font-size: 0.8rem !important;
}

@media (max-width: 991px) {
  body#checkout #content-wrapper, body#cart #content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

body#checkout .promo-code-button {
  display: none !important;
}
body#checkout #promo-code {
  display: block !important;
}

body#checkout,
.cart-summary-line.cart-total span,
.cart-summary-line .label,
.cart-summary-line .value,
.cart-summary-line .sub,
.card-block.cart-summary-totals .cart-summary-line.cart-total .label,
.card-block.cart-summary-totals .cart-summary-line.cart-total .value,
body#checkout .cart-summary-line .label,
body#checkout .cart-summary-line .value,
body#discount .cart-summary-line .label,
body#discount .cart-summary-line .value,
body#cart .cart-summary-line .label,
body#cart .cart-summary-line .value,
body#discount .cart-summary-line .label,
body#discount .cart-summary-line .value,
body#cart .cart-summary-line .label,
body#cart .cart-summary-line .value {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.cart-summary-line .sub {
  font-size: 0.875rem !important;
}

.cart-summary-line .value {
  font-weight: 600 !important;
}

.cart-summary-line .value,
.cart-summary-line .label {
  color: #4B5563 !important;
}

.cart-total .label,
.cart-total .value {
  color: rgb(17, 24, 39) !important;
  font-weight: bold !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem;
}

body#checkout .cart-grid-right .card .cart-summary-subtotals-container,
body#cart .card-block.cart-detailed-subtotals.js-cart-detailed-subtotals {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.card-block.cart-detailed-subtotals + .cart-summary-totals .cart-total {
  border-top: none;
}

body#cart .cart-detailed-actions {
  margin-top: 1rem;
}

.cart-grid-body .card-block h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

body#cart .card-block, .card-block.cart-summary-totals .cart-summary-line {
  padding: 0;
}

@media (max-width: 640px) {
  body#cart .max-w-7xl {
    padding: 0 2rem;
  }
}

body#cart .notifications-container {
  display: none;
}
body#cart #content-wrapper .notifications-container {
  display: block !important;
  padding: 0;
  margin-bottom: 20px;
}
body#cart #content-wrapper .notifications-container .alert-danger {
  padding: 10px 20px;
}
body#cart #content-wrapper .notifications-container ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.8rem;
}

@media (max-width: 640px) {
  .product-suggestions img {
    max-width: 130px;
  }
}
