/* Custom CMS Styles */
body#cms #main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
body#cms #main h1 {
  margin-top: 70px;
}
@media (max-width: 640px) {
  body#cms #main h1 {
    margin-top: 30px;
  }
}
body#cms #main #content p img {
  margin: 0 auto;
}

body.cms-id-7 #main {
  max-width: inherit !important;
}
body.cms-id-7 #main .category-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 640px) {
  body.cms-id-7 #main .category-list .category-item {
    padding: 20px 0;
  }
}
body.cms-id-7 #main .category-list .category-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body.cms-id-7 #main .category-list .category-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
}
body.cms-id-7 #main .category-list h2 {
  font-size: 1.5rem;
}
body.cms-id-7 #main .category-list h2 a {
  color: #111827;
  border-bottom: none;
}
body.cms-id-7 #main .category-list h2 a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  body.cms-id-7 #main .category-list h2 a {
    font-size: 1.3rem;
  }
}
body.cms-id-7 #main .category-list img {
  border-radius: 15px;
}
body.cms-id-7 #main .category-list .category-info {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
body.cms-id-7 #main .category-list .category-info .custom-scrollbar {
  max-height: 150px;
  overflow-y: auto;
}
body.cms-id-7 #main .category-list .category-info .custom-scrollbar p {
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  body.cms-id-7 #main .category-list .category-info .custom-scrollbar p {
    font-size: 0.9rem;
  }
}
body.cms-id-7 #main .category-list .category-info .view-all-products {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  clear: both;
}
body.cms-id-7 #main .category-list .category-info .subcategory-list {
  clear: both;
  display: block;
  width: 100%;
  margin-bottom: 0;
}
body.cms-id-7 #main .subcategory-list {
  padding-left: 0;
}
body.cms-id-7 #main .subcategory-list h3 {
  display: inline-block;
  font-size: 1rem;
}
body.cms-id-7 #main .subcategory-list h3 a {
  color: #4B5563;
  border-bottom: none;
}
body.cms-id-7 #main .subcategory-list h3 a:hover {
  color: #111827;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  body.cms-id-7 #main .subcategory-list h3 a {
    font-size: 0.95rem;
  }
}
