@charset "UTF-8";
/** === PAGE MON COMPTE === */
body#my-account #main, body#identity #main, body#addresses #main, body#history #main, body#order-slip #main, body#module-blockwishlist-lists #main, body#module-psgdpr-gdpr #main {
  padding-top: 50px;
}
@media (max-width: 768px) {
  body#my-account #main, body#identity #main, body#addresses #main, body#history #main, body#order-slip #main, body#module-blockwishlist-lists #main, body#module-psgdpr-gdpr #main {
    padding-top: 30px;
  }
}
@media (max-width: 640px) {
  body#my-account #main, body#identity #main, body#addresses #main, body#history #main, body#order-slip #main, body#module-blockwishlist-lists #main, body#module-psgdpr-gdpr #main {
    padding: 0;
  }
}
body#my-account #content, body#identity #content, body#addresses #content, body#history #content, body#order-slip #content, body#module-blockwishlist-lists #content, body#module-psgdpr-gdpr #content {
  padding-top: 0;
}
body#my-account h1, body#my-account h2, body#identity h1, body#identity h2, body#addresses h1, body#addresses h2, body#history h1, body#history h2, body#order-slip h1, body#order-slip h2, body#module-blockwishlist-lists h1, body#module-blockwishlist-lists h2, body#module-psgdpr-gdpr h1, body#module-psgdpr-gdpr h2 {
  text-align: left !important;
  margin: 0 !important;
  padding-bottom: 10px;
  font-size: 2rem;
}
body#my-account .breadcrumb, body#identity .breadcrumb, body#addresses .breadcrumb, body#history .breadcrumb, body#order-slip .breadcrumb, body#module-blockwishlist-lists .breadcrumb, body#module-psgdpr-gdpr .breadcrumb {
  display: none;
}
body#my-account .content-account p, body#identity .content-account p, body#addresses .content-account p, body#history .content-account p, body#order-slip .content-account p, body#module-blockwishlist-lists .content-account p, body#module-psgdpr-gdpr .content-account p {
  text-align: center;
  padding: 25px 0;
}
@media (max-width: 768px) {
  body#my-account .content-account p, body#identity .content-account p, body#addresses .content-account p, body#history .content-account p, body#order-slip .content-account p, body#module-blockwishlist-lists .content-account p, body#module-psgdpr-gdpr .content-account p {
    padding: 20px 15px;
    font-size: 0.95rem;
  }
}
body#my-account .content-account i, body#identity .content-account i, body#addresses .content-account i, body#history .content-account i, body#order-slip .content-account i, body#module-blockwishlist-lists .content-account i, body#module-psgdpr-gdpr .content-account i {
  font-size: 6rem;
}
@media (max-width: 768px) {
  body#my-account .content-account i, body#identity .content-account i, body#addresses .content-account i, body#history .content-account i, body#order-slip .content-account i, body#module-blockwishlist-lists .content-account i, body#module-psgdpr-gdpr .content-account i {
    font-size: 5rem;
  }
}
body#my-account .btn-primary, body#identity .btn-primary, body#addresses .btn-primary, body#history .btn-primary, body#order-slip .btn-primary, body#module-blockwishlist-lists .btn-primary, body#module-psgdpr-gdpr .btn-primary {
  font-size: 1rem;
  margin-bottom: 50px;
  margin-left: 1.5rem;
}
@media (max-width: 768px) {
  body#my-account .btn-primary, body#identity .btn-primary, body#addresses .btn-primary, body#history .btn-primary, body#order-slip .btn-primary, body#module-blockwishlist-lists .btn-primary, body#module-psgdpr-gdpr .btn-primary {
    font-size: 1.1rem;
    margin-bottom: 100px;
    padding: 8px 40px;
  }
}
@media (max-width: 640px) {
  body#my-account .btn-primary, body#identity .btn-primary, body#addresses .btn-primary, body#history .btn-primary, body#order-slip .btn-primary, body#module-blockwishlist-lists .btn-primary, body#module-psgdpr-gdpr .btn-primary {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  body#my-account .left-column-content, body#identity .left-column-content, body#addresses .left-column-content, body#history .left-column-content, body#order-slip .left-column-content, body#module-blockwishlist-lists .left-column-content, body#module-psgdpr-gdpr .left-column-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content, body#identity .left-column-content, body#addresses .left-column-content, body#history .left-column-content, body#order-slip .left-column-content, body#module-blockwishlist-lists .left-column-content, body#module-psgdpr-gdpr .left-column-content {
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
  }
}
body#my-account .left-column-content .account-list, body#identity .left-column-content .account-list, body#addresses .left-column-content .account-list, body#history .left-column-content .account-list, body#order-slip .left-column-content .account-list, body#module-blockwishlist-lists .left-column-content .account-list, body#module-psgdpr-gdpr .left-column-content .account-list {
  border-radius: 4px;
  padding-top: 50px;
  font-weight: 100;
  /* Style actif pour le lien correspondant à la page courante */
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list, body#identity .left-column-content .account-list, body#addresses .left-column-content .account-list, body#history .left-column-content .account-list, body#order-slip .left-column-content .account-list, body#module-blockwishlist-lists .left-column-content .account-list, body#module-psgdpr-gdpr .left-column-content .account-list {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list, body#identity .left-column-content .account-list, body#addresses .left-column-content .account-list, body#history .left-column-content .account-list, body#order-slip .left-column-content .account-list, body#module-blockwishlist-lists .left-column-content .account-list, body#module-psgdpr-gdpr .left-column-content .account-list {
    padding: 15px;
  }
}
body#my-account .left-column-content .account-list .account-links-list, body#identity .left-column-content .account-list .account-links-list, body#addresses .left-column-content .account-list .account-links-list, body#history .left-column-content .account-list .account-links-list, body#order-slip .left-column-content .account-list .account-links-list, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-links-list, body#identity .left-column-content .account-list .account-links-list, body#addresses .left-column-content .account-list .account-links-list, body#history .left-column-content .account-list .account-links-list, body#order-slip .left-column-content .account-list .account-links-list, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list {
    justify-content: space-between;
  }
}
body#my-account .left-column-content .account-list .account-links-list li, body#identity .left-column-content .account-list .account-links-list li, body#addresses .left-column-content .account-list .account-links-list li, body#history .left-column-content .account-list .account-links-list li, body#order-slip .left-column-content .account-list .account-links-list li, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li {
  flex: 0 0 100%;
  padding: 0.3rem 10px;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-links-list li, body#identity .left-column-content .account-list .account-links-list li, body#addresses .left-column-content .account-list .account-links-list li, body#history .left-column-content .account-list .account-links-list li, body#order-slip .left-column-content .account-list .account-links-list li, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li {
    flex: 0 0 48%;
  }
}
@media (max-width: 600px) and (min-width: 640px) {
  body#my-account .left-column-content .account-list .account-links-list li, body#identity .left-column-content .account-list .account-links-list li, body#addresses .left-column-content .account-list .account-links-list li, body#history .left-column-content .account-list .account-links-list li, body#order-slip .left-column-content .account-list .account-links-list li, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li {
    flex: 0 0 48%;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .account-links-list li, body#identity .left-column-content .account-list .account-links-list li, body#addresses .left-column-content .account-list .account-links-list li, body#history .left-column-content .account-list .account-links-list li, body#order-slip .left-column-content .account-list .account-links-list li, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li {
    flex: 0 0 100%;
    margin-bottom: 8px;
  }
}
body#my-account .left-column-content .account-list .account-links-list li:hover, body#identity .left-column-content .account-list .account-links-list li:hover, body#addresses .left-column-content .account-list .account-links-list li:hover, body#history .left-column-content .account-list .account-links-list li:hover, body#order-slip .left-column-content .account-list .account-links-list li:hover, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li:hover, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li:hover {
  transform: translateX(5px);
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-links-list li:hover, body#identity .left-column-content .account-list .account-links-list li:hover, body#addresses .left-column-content .account-list .account-links-list li:hover, body#history .left-column-content .account-list .account-links-list li:hover, body#order-slip .left-column-content .account-list .account-links-list li:hover, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li:hover, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li:hover {
    transform: translateY(-2px);
  }
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-links-list li:nth-last-child(1), body#my-account .left-column-content .account-list .account-links-list li:nth-last-child(2), body#identity .left-column-content .account-list .account-links-list li:nth-last-child(1), body#identity .left-column-content .account-list .account-links-list li:nth-last-child(2), body#addresses .left-column-content .account-list .account-links-list li:nth-last-child(1), body#addresses .left-column-content .account-list .account-links-list li:nth-last-child(2), body#history .left-column-content .account-list .account-links-list li:nth-last-child(1), body#history .left-column-content .account-list .account-links-list li:nth-last-child(2), body#order-slip .left-column-content .account-list .account-links-list li:nth-last-child(1), body#order-slip .left-column-content .account-list .account-links-list li:nth-last-child(2), body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li:nth-last-child(1), body#module-blockwishlist-lists .left-column-content .account-list .account-links-list li:nth-last-child(2), body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li:nth-last-child(1), body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list li:nth-last-child(2) {
    margin-top: 15px;
  }
}
body#my-account .left-column-content .account-list .account-links-list hr, body#identity .left-column-content .account-list .account-links-list hr, body#addresses .left-column-content .account-list .account-links-list hr, body#history .left-column-content .account-list .account-links-list hr, body#order-slip .left-column-content .account-list .account-links-list hr, body#module-blockwishlist-lists .left-column-content .account-list .account-links-list hr, body#module-psgdpr-gdpr .left-column-content .account-list .account-links-list hr {
  flex: 0 0 100%;
  margin: 10px 10px;
  border-color: rgba(0, 0, 0, 0.1);
}
body#my-account .left-column-content .account-list .customer-info, body#identity .left-column-content .account-list .customer-info, body#addresses .left-column-content .account-list .customer-info, body#history .left-column-content .account-list .customer-info, body#order-slip .left-column-content .account-list .customer-info, body#module-blockwishlist-lists .left-column-content .account-list .customer-info, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .customer-info, body#identity .left-column-content .account-list .customer-info, body#addresses .left-column-content .account-list .customer-info, body#history .left-column-content .account-list .customer-info, body#order-slip .left-column-content .account-list .customer-info, body#module-blockwishlist-lists .left-column-content .account-list .customer-info, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info {
    margin-bottom: 1.5rem;
    padding-bottom: 1.2rem;
  }
}
body#my-account .left-column-content .account-list .customer-info:before, body#identity .left-column-content .account-list .customer-info:before, body#addresses .left-column-content .account-list .customer-info:before, body#history .left-column-content .account-list .customer-info:before, body#order-slip .left-column-content .account-list .customer-info:before, body#module-blockwishlist-lists .left-column-content .account-list .customer-info:before, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info:before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  margin-bottom: 15px;
  background-color: rgba(131, 181, 139, 0.1);
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23388E3C' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .customer-info:before, body#identity .left-column-content .account-list .customer-info:before, body#addresses .left-column-content .account-list .customer-info:before, body#history .left-column-content .account-list .customer-info:before, body#order-slip .left-column-content .account-list .customer-info:before, body#module-blockwishlist-lists .left-column-content .account-list .customer-info:before, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info:before {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    background-size: 35px 35px;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .customer-info:before, body#identity .left-column-content .account-list .customer-info:before, body#addresses .left-column-content .account-list .customer-info:before, body#history .left-column-content .account-list .customer-info:before, body#order-slip .left-column-content .account-list .customer-info:before, body#module-blockwishlist-lists .left-column-content .account-list .customer-info:before, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info:before {
    width: 65px;
    height: 65px;
    background-size: 30px 30px;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .customer-info, body#identity .left-column-content .account-list .customer-info, body#addresses .left-column-content .account-list .customer-info, body#history .left-column-content .account-list .customer-info, body#order-slip .left-column-content .account-list .customer-info, body#module-blockwishlist-lists .left-column-content .account-list .customer-info, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info {
    padding-bottom: 1rem;
  }
}
body#my-account .left-column-content .account-list .customer-info h3, body#identity .left-column-content .account-list .customer-info h3, body#addresses .left-column-content .account-list .customer-info h3, body#history .left-column-content .account-list .customer-info h3, body#order-slip .left-column-content .account-list .customer-info h3, body#module-blockwishlist-lists .left-column-content .account-list .customer-info h3, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info h3 {
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .customer-info h3, body#identity .left-column-content .account-list .customer-info h3, body#addresses .left-column-content .account-list .customer-info h3, body#history .left-column-content .account-list .customer-info h3, body#order-slip .left-column-content .account-list .customer-info h3, body#module-blockwishlist-lists .left-column-content .account-list .customer-info h3, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .customer-info h3, body#identity .left-column-content .account-list .customer-info h3, body#addresses .left-column-content .account-list .customer-info h3, body#history .left-column-content .account-list .customer-info h3, body#order-slip .left-column-content .account-list .customer-info h3, body#module-blockwishlist-lists .left-column-content .account-list .customer-info h3, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info h3 {
    font-size: 1.3rem;
  }
}
body#my-account .left-column-content .account-list .customer-info .customer-email, body#identity .left-column-content .account-list .customer-info .customer-email, body#addresses .left-column-content .account-list .customer-info .customer-email, body#history .left-column-content .account-list .customer-info .customer-email, body#order-slip .left-column-content .account-list .customer-info .customer-email, body#module-blockwishlist-lists .left-column-content .account-list .customer-info .customer-email, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info .customer-email {
  font-size: 1rem;
  color: #4B5563;
  font-weight: 100;
  padding-bottom: 0;
  text-align: left;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .customer-info .customer-email, body#identity .left-column-content .account-list .customer-info .customer-email, body#addresses .left-column-content .account-list .customer-info .customer-email, body#history .left-column-content .account-list .customer-info .customer-email, body#order-slip .left-column-content .account-list .customer-info .customer-email, body#module-blockwishlist-lists .left-column-content .account-list .customer-info .customer-email, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info .customer-email {
    font-size: 0.9rem;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .customer-info .customer-email, body#identity .left-column-content .account-list .customer-info .customer-email, body#addresses .left-column-content .account-list .customer-info .customer-email, body#history .left-column-content .account-list .customer-info .customer-email, body#order-slip .left-column-content .account-list .customer-info .customer-email, body#module-blockwishlist-lists .left-column-content .account-list .customer-info .customer-email, body#module-psgdpr-gdpr .left-column-content .account-list .customer-info .customer-email {
    font-size: 0.85rem;
    text-align: center;
  }
}
body#my-account .left-column-content .account-list .account-link, body#identity .left-column-content .account-list .account-link, body#addresses .left-column-content .account-list .account-link, body#history .left-column-content .account-list .account-link, body#order-slip .left-column-content .account-list .account-link, body#module-blockwishlist-lists .left-column-content .account-list .account-link, body#module-psgdpr-gdpr .left-column-content .account-list .account-link {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  color: #4B5563;
  transition: all 0.25s ease;
  text-decoration: none;
  background-color: #F9FAFB;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-link, body#identity .left-column-content .account-list .account-link, body#addresses .left-column-content .account-list .account-link, body#history .left-column-content .account-list .account-link, body#order-slip .left-column-content .account-list .account-link, body#module-blockwishlist-lists .left-column-content .account-list .account-link, body#module-psgdpr-gdpr .left-column-content .account-list .account-link {
    padding: 0.7rem;
    height: 100%;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .account-link, body#identity .left-column-content .account-list .account-link, body#addresses .left-column-content .account-list .account-link, body#history .left-column-content .account-list .account-link, body#order-slip .left-column-content .account-list .account-link, body#module-blockwishlist-lists .left-column-content .account-list .account-link, body#module-psgdpr-gdpr .left-column-content .account-list .account-link {
    padding: 0.75rem 0.6rem;
    font-size: 0.9rem;
    justify-content: flex-start;
  }
}
body#my-account .left-column-content .account-list .account-link i, body#identity .left-column-content .account-list .account-link i, body#addresses .left-column-content .account-list .account-link i, body#history .left-column-content .account-list .account-link i, body#order-slip .left-column-content .account-list .account-link i, body#module-blockwishlist-lists .left-column-content .account-list .account-link i, body#module-psgdpr-gdpr .left-column-content .account-list .account-link i {
  margin-right: 0.75rem;
  font-size: 1.2rem;
  vertical-align: middle;
  color: #83b58b;
  min-width: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-link i, body#identity .left-column-content .account-list .account-link i, body#addresses .left-column-content .account-list .account-link i, body#history .left-column-content .account-list .account-link i, body#order-slip .left-column-content .account-list .account-link i, body#module-blockwishlist-lists .left-column-content .account-list .account-link i, body#module-psgdpr-gdpr .left-column-content .account-list .account-link i {
    font-size: 1.1rem;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .account-link i, body#identity .left-column-content .account-list .account-link i, body#addresses .left-column-content .account-list .account-link i, body#history .left-column-content .account-list .account-link i, body#order-slip .left-column-content .account-list .account-link i, body#module-blockwishlist-lists .left-column-content .account-list .account-link i, body#module-psgdpr-gdpr .left-column-content .account-list .account-link i {
    font-size: 1rem;
    margin-right: 0.6rem;
  }
}
body#my-account .left-column-content .account-list .account-link span, body#identity .left-column-content .account-list .account-link span, body#addresses .left-column-content .account-list .account-link span, body#history .left-column-content .account-list .account-link span, body#order-slip .left-column-content .account-list .account-link span, body#module-blockwishlist-lists .left-column-content .account-list .account-link span, body#module-psgdpr-gdpr .left-column-content .account-list .account-link span {
  flex: 1;
  line-height: 1.3;
}
@media (max-width: 768px) {
  body#my-account .left-column-content .account-list .account-link span, body#identity .left-column-content .account-list .account-link span, body#addresses .left-column-content .account-list .account-link span, body#history .left-column-content .account-list .account-link span, body#order-slip .left-column-content .account-list .account-link span, body#module-blockwishlist-lists .left-column-content .account-list .account-link span, body#module-psgdpr-gdpr .left-column-content .account-list .account-link span {
    font-size: 0.95rem;
  }
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .account-link span, body#identity .left-column-content .account-list .account-link span, body#addresses .left-column-content .account-list .account-link span, body#history .left-column-content .account-list .account-link span, body#order-slip .left-column-content .account-list .account-link span, body#module-blockwishlist-lists .left-column-content .account-list .account-link span, body#module-psgdpr-gdpr .left-column-content .account-list .account-link span {
    font-size: 0.9rem;
  }
}
body#my-account .left-column-content .account-list .account-link:hover, body#identity .left-column-content .account-list .account-link:hover, body#addresses .left-column-content .account-list .account-link:hover, body#history .left-column-content .account-list .account-link:hover, body#order-slip .left-column-content .account-list .account-link:hover, body#module-blockwishlist-lists .left-column-content .account-list .account-link:hover, body#module-psgdpr-gdpr .left-column-content .account-list .account-link:hover {
  color: #111827;
  background-color: rgba(131, 181, 139, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
body#my-account .left-column-content .account-list .account-link:hover i, body#identity .left-column-content .account-list .account-link:hover i, body#addresses .left-column-content .account-list .account-link:hover i, body#history .left-column-content .account-list .account-link:hover i, body#order-slip .left-column-content .account-list .account-link:hover i, body#module-blockwishlist-lists .left-column-content .account-list .account-link:hover i, body#module-psgdpr-gdpr .left-column-content .account-list .account-link:hover i {
  color: rgb(99.0606060606, 161.9393939394, 109.1212121212);
}
body#my-account .left-column-content .account-list .account-link#logout-link-side, body#identity .left-column-content .account-list .account-link#logout-link-side, body#addresses .left-column-content .account-list .account-link#logout-link-side, body#history .left-column-content .account-list .account-link#logout-link-side, body#order-slip .left-column-content .account-list .account-link#logout-link-side, body#module-blockwishlist-lists .left-column-content .account-list .account-link#logout-link-side, body#module-psgdpr-gdpr .left-column-content .account-list .account-link#logout-link-side {
  background-color: rgba(131, 181, 139, 0.08);
}
body#my-account .left-column-content .account-list .account-link#logout-link-side i, body#identity .left-column-content .account-list .account-link#logout-link-side i, body#addresses .left-column-content .account-list .account-link#logout-link-side i, body#history .left-column-content .account-list .account-link#logout-link-side i, body#order-slip .left-column-content .account-list .account-link#logout-link-side i, body#module-blockwishlist-lists .left-column-content .account-list .account-link#logout-link-side i, body#module-psgdpr-gdpr .left-column-content .account-list .account-link#logout-link-side i {
  color: #4B5563;
}
body#my-account .left-column-content .account-list .account-link#logout-link-side:hover, body#identity .left-column-content .account-list .account-link#logout-link-side:hover, body#addresses .left-column-content .account-list .account-link#logout-link-side:hover, body#history .left-column-content .account-list .account-link#logout-link-side:hover, body#order-slip .left-column-content .account-list .account-link#logout-link-side:hover, body#module-blockwishlist-lists .left-column-content .account-list .account-link#logout-link-side:hover, body#module-psgdpr-gdpr .left-column-content .account-list .account-link#logout-link-side:hover {
  background-color: rgba(131, 181, 139, 0.15);
}
body#identity body#my-account .left-column-content .account-list li a#identity-link-side, body#addresses body#my-account .left-column-content .account-list li a#addresses-link-side, body#history body#my-account .left-column-content .account-list li a#history-link-side, body#order-slip body#my-account .left-column-content .account-list li a#order-slips-link-side, body#discount body#my-account .left-column-content .account-list li a#discounts-link-side, body#order-follow body#my-account .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#my-account .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#my-account .left-column-content .account-list li a#gdpr-link-side, body#identity body#identity .left-column-content .account-list li a#identity-link-side, body#addresses body#identity .left-column-content .account-list li a#addresses-link-side, body#history body#identity .left-column-content .account-list li a#history-link-side, body#order-slip body#identity .left-column-content .account-list li a#order-slips-link-side, body#discount body#identity .left-column-content .account-list li a#discounts-link-side, body#order-follow body#identity .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#identity .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#identity .left-column-content .account-list li a#gdpr-link-side, body#identity body#addresses .left-column-content .account-list li a#identity-link-side, body#addresses body#addresses .left-column-content .account-list li a#addresses-link-side, body#history body#addresses .left-column-content .account-list li a#history-link-side, body#order-slip body#addresses .left-column-content .account-list li a#order-slips-link-side, body#discount body#addresses .left-column-content .account-list li a#discounts-link-side, body#order-follow body#addresses .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#addresses .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#addresses .left-column-content .account-list li a#gdpr-link-side, body#identity body#history .left-column-content .account-list li a#identity-link-side, body#addresses body#history .left-column-content .account-list li a#addresses-link-side, body#history body#history .left-column-content .account-list li a#history-link-side, body#order-slip body#history .left-column-content .account-list li a#order-slips-link-side, body#discount body#history .left-column-content .account-list li a#discounts-link-side, body#order-follow body#history .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#history .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#history .left-column-content .account-list li a#gdpr-link-side, body#identity body#order-slip .left-column-content .account-list li a#identity-link-side, body#addresses body#order-slip .left-column-content .account-list li a#addresses-link-side, body#history body#order-slip .left-column-content .account-list li a#history-link-side, body#order-slip body#order-slip .left-column-content .account-list li a#order-slips-link-side, body#discount body#order-slip .left-column-content .account-list li a#discounts-link-side, body#order-follow body#order-slip .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#order-slip .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#order-slip .left-column-content .account-list li a#gdpr-link-side, body#identity body#module-blockwishlist-lists .left-column-content .account-list li a#identity-link-side, body#addresses body#module-blockwishlist-lists .left-column-content .account-list li a#addresses-link-side, body#history body#module-blockwishlist-lists .left-column-content .account-list li a#history-link-side, body#order-slip body#module-blockwishlist-lists .left-column-content .account-list li a#order-slips-link-side, body#discount body#module-blockwishlist-lists .left-column-content .account-list li a#discounts-link-side, body#order-follow body#module-blockwishlist-lists .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#module-blockwishlist-lists .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#module-blockwishlist-lists .left-column-content .account-list li a#gdpr-link-side, body#identity body#module-psgdpr-gdpr .left-column-content .account-list li a#identity-link-side, body#addresses body#module-psgdpr-gdpr .left-column-content .account-list li a#addresses-link-side, body#history body#module-psgdpr-gdpr .left-column-content .account-list li a#history-link-side, body#order-slip body#module-psgdpr-gdpr .left-column-content .account-list li a#order-slips-link-side, body#discount body#module-psgdpr-gdpr .left-column-content .account-list li a#discounts-link-side, body#order-follow body#module-psgdpr-gdpr .left-column-content .account-list li a#returns-link-side, body#module-blockwishlist-lists body#module-psgdpr-gdpr .left-column-content .account-list li a#wishlist-link-side, body#module-psgdpr-gdpr body#module-psgdpr-gdpr .left-column-content .account-list li a#gdpr-link-side {
  color: #111827;
  background-color: rgba(131, 181, 139, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-weight: 600;
}
body#identity body#my-account .left-column-content .account-list li a#identity-link-side i, body#addresses body#my-account .left-column-content .account-list li a#addresses-link-side i, body#history body#my-account .left-column-content .account-list li a#history-link-side i, body#order-slip body#my-account .left-column-content .account-list li a#order-slips-link-side i, body#discount body#my-account .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#my-account .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#my-account .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#my-account .left-column-content .account-list li a#gdpr-link-side i, body#identity body#identity .left-column-content .account-list li a#identity-link-side i, body#addresses body#identity .left-column-content .account-list li a#addresses-link-side i, body#history body#identity .left-column-content .account-list li a#history-link-side i, body#order-slip body#identity .left-column-content .account-list li a#order-slips-link-side i, body#discount body#identity .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#identity .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#identity .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#identity .left-column-content .account-list li a#gdpr-link-side i, body#identity body#addresses .left-column-content .account-list li a#identity-link-side i, body#addresses body#addresses .left-column-content .account-list li a#addresses-link-side i, body#history body#addresses .left-column-content .account-list li a#history-link-side i, body#order-slip body#addresses .left-column-content .account-list li a#order-slips-link-side i, body#discount body#addresses .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#addresses .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#addresses .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#addresses .left-column-content .account-list li a#gdpr-link-side i, body#identity body#history .left-column-content .account-list li a#identity-link-side i, body#addresses body#history .left-column-content .account-list li a#addresses-link-side i, body#history body#history .left-column-content .account-list li a#history-link-side i, body#order-slip body#history .left-column-content .account-list li a#order-slips-link-side i, body#discount body#history .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#history .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#history .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#history .left-column-content .account-list li a#gdpr-link-side i, body#identity body#order-slip .left-column-content .account-list li a#identity-link-side i, body#addresses body#order-slip .left-column-content .account-list li a#addresses-link-side i, body#history body#order-slip .left-column-content .account-list li a#history-link-side i, body#order-slip body#order-slip .left-column-content .account-list li a#order-slips-link-side i, body#discount body#order-slip .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#order-slip .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#order-slip .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#order-slip .left-column-content .account-list li a#gdpr-link-side i, body#identity body#module-blockwishlist-lists .left-column-content .account-list li a#identity-link-side i, body#addresses body#module-blockwishlist-lists .left-column-content .account-list li a#addresses-link-side i, body#history body#module-blockwishlist-lists .left-column-content .account-list li a#history-link-side i, body#order-slip body#module-blockwishlist-lists .left-column-content .account-list li a#order-slips-link-side i, body#discount body#module-blockwishlist-lists .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#module-blockwishlist-lists .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#module-blockwishlist-lists .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#module-blockwishlist-lists .left-column-content .account-list li a#gdpr-link-side i, body#identity body#module-psgdpr-gdpr .left-column-content .account-list li a#identity-link-side i, body#addresses body#module-psgdpr-gdpr .left-column-content .account-list li a#addresses-link-side i, body#history body#module-psgdpr-gdpr .left-column-content .account-list li a#history-link-side i, body#order-slip body#module-psgdpr-gdpr .left-column-content .account-list li a#order-slips-link-side i, body#discount body#module-psgdpr-gdpr .left-column-content .account-list li a#discounts-link-side i, body#order-follow body#module-psgdpr-gdpr .left-column-content .account-list li a#returns-link-side i, body#module-blockwishlist-lists body#module-psgdpr-gdpr .left-column-content .account-list li a#wishlist-link-side i, body#module-psgdpr-gdpr body#module-psgdpr-gdpr .left-column-content .account-list li a#gdpr-link-side i {
  color: rgb(99.0606060606, 161.9393939394, 109.1212121212);
}
body#my-account .left-column-content .account-list #gdpr-link-side, body#identity .left-column-content .account-list #gdpr-link-side, body#addresses .left-column-content .account-list #gdpr-link-side, body#history .left-column-content .account-list #gdpr-link-side, body#order-slip .left-column-content .account-list #gdpr-link-side, body#module-blockwishlist-lists .left-column-content .account-list #gdpr-link-side, body#module-psgdpr-gdpr .left-column-content .account-list #gdpr-link-side {
  margin-bottom: 10px;
}
body#my-account .left-column-content .account-list #logout-link-side, body#identity .left-column-content .account-list #logout-link-side, body#addresses .left-column-content .account-list #logout-link-side, body#history .left-column-content .account-list #logout-link-side, body#order-slip .left-column-content .account-list #logout-link-side, body#module-blockwishlist-lists .left-column-content .account-list #logout-link-side, body#module-psgdpr-gdpr .left-column-content .account-list #logout-link-side {
  margin-top: 10px;
}
body#my-account .left-column-content .account-list .mobile-action-button, body#identity .left-column-content .account-list .mobile-action-button, body#addresses .left-column-content .account-list .mobile-action-button, body#history .left-column-content .account-list .mobile-action-button, body#order-slip .left-column-content .account-list .mobile-action-button, body#module-blockwishlist-lists .left-column-content .account-list .mobile-action-button, body#module-psgdpr-gdpr .left-column-content .account-list .mobile-action-button {
  display: none;
  margin-top: 2rem;
  text-align: center;
}
body#my-account .left-column-content .account-list .mobile-action-button a, body#identity .left-column-content .account-list .mobile-action-button a, body#addresses .left-column-content .account-list .mobile-action-button a, body#history .left-column-content .account-list .mobile-action-button a, body#order-slip .left-column-content .account-list .mobile-action-button a, body#module-blockwishlist-lists .left-column-content .account-list .mobile-action-button a, body#module-psgdpr-gdpr .left-column-content .account-list .mobile-action-button a {
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  body#my-account .left-column-content .account-list .mobile-action-button, body#identity .left-column-content .account-list .mobile-action-button, body#addresses .left-column-content .account-list .mobile-action-button, body#history .left-column-content .account-list .mobile-action-button, body#order-slip .left-column-content .account-list .mobile-action-button, body#module-blockwishlist-lists .left-column-content .account-list .mobile-action-button, body#module-psgdpr-gdpr .left-column-content .account-list .mobile-action-button {
    display: block;
  }
}

/* STYLE POUR LE MODULE LISTE DES ENVIES / GDPR */
body#module-blockwishlist-lists #content-wrapper, body#module-psgdpr-gdpr #content-wrapper {
  float: left;
  width: 75%;
  padding-left: 15px;
  display: block !important;
}
@media (max-width: 768px) {
  body#module-blockwishlist-lists #content-wrapper, body#module-psgdpr-gdpr #content-wrapper {
    width: 66.67%;
  }
}
@media (max-width: 640px) {
  body#module-blockwishlist-lists #content-wrapper, body#module-psgdpr-gdpr #content-wrapper {
    display: none !important;
  }
}

body#identity .identity-section {
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
body#identity .instructions-account, body#identity .delete-account-section p {
  font-size: 0.9rem;
  color: rgb(107.974137931, 122.3706896552, 142.525862069);
  line-height: 1;
  padding-bottom: 0;
}
body#identity .password-toggle-btn {
  left: 310px;
}
@media (max-width: 640px) {
  body#identity .password-toggle-btn {
    left: auto;
    right: 10px;
  }
}
body#identity .password-strength-feedback {
  width: 400px;
}
@media (max-width: 640px) {
  body#identity .password-strength-feedback {
    width: 320px;
  }
}
body#identity .delete-account-section {
  margin-top: 20px;
}
body#identity .required-fields {
  display: none;
}
