/* === PAGE CHECKOUT === */
body#checkout {
  display: flex;
  flex-direction: column;
}
body#checkout .header-nav {
  min-height: 130px;
}
@media (max-width: 640px) {
  body#checkout .header-nav .logo {
    max-width: 230px !important;
  }
}
body#checkout .header-nav .secure-checkout-text {
  color: #f9fafb;
  font-weight: bold;
}
body#checkout .header-nav .secure-checkout-text i {
  font-size: 1.3rem;
}
body#checkout .checkout-footer {
  border-top: 1px solid #4B5563;
  background-color: white;
  padding-top: 25px;
}
body#checkout .copyright {
  font-size: 0.85rem;
}
