/* === CUSTOM HEADER STYLE === */
/* Header global */
.header-nav {
  background: #83b58b;
  height: 110px;
  max-height: 110px !important;
}
@media (max-width: 640px) {
  .header-nav {
    height: 65px;
    max-height: 65px !important;
  }
}

#header a {
  color: #f9fafb;
}
#header a:hover {
  color: rgb(218.4, 224.5, 230.6);
}
#header .header-nav .blockcart {
  background-color: #83b58b;
  color: #f9fafb;
}
@media (max-width: 1024px) {
  #header .header-nav .blockcart {
    padding: 0 !important;
    margin-left: 5px !important;
  }
}
#header .header-nav .cart-preview .shopping-cart {
  color: #f9fafb;
}
#header .dropdown li a {
  color: #f9fafb;
}

/* End Header global */
/* Contact button */
#contact-link a.contact-button {
  display: flex;
  align-items: center;
  color: #f9fafb;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  #contact-link a.contact-button {
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 768px) {
  #contact-link a.contact-button {
    padding: 0.3rem 0.6rem;
  }
}
#contact-link a.contact-button:hover {
  background-color: rgb(115.0303030303, 171.4696969697, 124.0606060606);
}
#contact-link a.contact-button .contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
}
@media (max-width: 768px) {
  #contact-link a.contact-button .contact-icon {
    margin-right: 0.5rem;
  }
}
#contact-link a.contact-button .contact-icon svg {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
@media (max-width: 1024px) {
  #contact-link a.contact-button .contact-icon svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  #contact-link a.contact-button .contact-icon svg {
    width: 24px;
    height: 24px;
    margin-right: 3px;
  }
}
#contact-link a.contact-button .contact-text {
  display: flex;
  flex-direction: column;
}
#contact-link a.contact-button .contact-text .contact-title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  #contact-link a.contact-button .contact-text .contact-title {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  #contact-link a.contact-button .contact-text .contact-title {
    font-size: 0.8rem;
  }
}
#contact-link a.contact-button .contact-text .contact-phone {
  font-size: 0.8rem;
  opacity: 0.9;
}
@media (max-width: 1024px) {
  #contact-link a.contact-button .contact-text .contact-phone {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  #contact-link a.contact-button .contact-text .contact-phone {
    font-size: 0.7rem;
  }
}

/* End Contact button */
/* Language selector */
#_desktop_language_selector {
  position: absolute;
  right: 40px;
  top: -103px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 30;
}
#_desktop_language_selector .language-selector-wrapper .language-selector button {
  display: flex;
  align-items: center;
}
#_desktop_language_selector .language-selector-wrapper .language-selector button .planet-icon {
  color: #f9fafb;
  stroke-width: 1.5;
  margin-right: 3px;
}
#_desktop_language_selector .language-selector-wrapper .language-selector button .planet-icon:hover {
  color: rgb(218.4, 224.5, 230.6);
}
#_desktop_language_selector .language-selector-wrapper .language-selector button .expand-more {
  margin: 0;
  font-weight: bold;
  color: #f9fafb;
  font-size: 14px;
}
#_desktop_language_selector .language-selector-wrapper .language-selector button .expand-more:hover {
  color: rgb(218.4, 224.5, 230.6);
}
#_desktop_language_selector .dropdown-menu {
  background-color: rgb(88.0151515152, 147.4848484848, 97.5303030303);
  border: 1px solid rgb(68.9545454545, 115.5454545455, 76.4090909091);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#_desktop_language_selector .dropdown-menu li {
  border-bottom: 1px solid rgb(78.4848484848, 131.5151515152, 86.9696969697);
}
#_desktop_language_selector .dropdown-menu li:last-child {
  border-bottom: none;
}
#_desktop_language_selector .dropdown-menu li.current {
  background-color: rgb(99.0606060606, 161.9393939394, 109.1212121212);
}
#_desktop_language_selector .dropdown-menu .dropdown-item {
  color: #f9fafb;
  padding: 8px 15px;
  font-weight: bold;
}
#_desktop_language_selector .dropdown-menu .dropdown-item:hover, #_desktop_language_selector .dropdown-menu .dropdown-item:focus {
  background-color: rgb(78.4848484848, 131.5151515152, 86.9696969697);
  color: #f9fafb;
}

/* End Language selector */
/* Logo */
#_desktop_logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#_desktop_logo img.logo {
  max-width: 400px;
  position: relative;
  bottom: 10px;
}
@media (max-width: 1024px) {
  #_desktop_logo img.logo {
    max-width: 280px;
    top: 5px;
  }
}
@media (max-width: 768px) {
  #_desktop_logo img.logo {
    max-width: 250px;
    top: 5px;
  }
}
@media (max-width: 640px) {
  #_desktop_logo img.logo {
    max-width: 150px;
  }
}

/* Banner and carousel layout */
.banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text-carousel-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

/* CAROUSEL TEXT */
.text-carousel-banner {
  background-color: #83b58b;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  overflow: hidden;
  position: relative;
}
@media (max-width: 640px) {
  .text-carousel-banner {
    padding-bottom: 0rem;
  }
}

.carousel-nav-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9fafb;
  z-index: 20;
  transition: all 0.2s ease;
  font-size: 1.25rem;
  font-weight: 700;
}
.carousel-nav-button:hover {
  opacity: 0.8;
}
.carousel-nav-button:focus {
  outline: none;
}

#text-carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f9fafb;
  position: relative;
  overflow: hidden;
  max-width: 36rem;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  #text-carousel {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  #text-carousel {
    font-size: 9px;
  }
}

.carousel-item {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel-item.active {
  opacity: 1;
  transform: translateX(0);
}
.carousel-item.inactive {
  opacity: 0;
  position: absolute;
  inset: 0;
  transform: translateX(100%);
}

.highlight-text {
  background-color: #e45b7f;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

/* END CAROUSEL TEXT */
/* Styles pour le module de connexion (Mon compte) */
.user-info .login, .user-info .account {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #83b58b;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.user-info .login:hover, .user-info .account:hover {
  background-color: rgb(99.0606060606, 161.9393939394, 109.1212121212);
}
.user-info .login .account-icon, .user-info .account .account-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.user-info .login .account-icon i, .user-info .account .account-icon i {
  color: rgba(255, 255, 255, 0.85);
  font-size: 28px;
  display: flex;
  align-items: center;
  height: 100%;
}
.user-info .login .account-icon .user-icon-transparent, .user-info .account .account-icon .user-icon-transparent {
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
}
.user-info .login .account-content, .user-info .account .account-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-info .login .account-content .account-title, .user-info .account .account-content .account-title {
  color: #f9fafb;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}
.user-info .login .account-content .account-subtitle, .user-info .account .account-content .account-subtitle {
  color: #f9fafb;
  font-size: 12px;
  opacity: 0.9;
  text-align: left;
}
.user-info .logout {
  display: none;
}

/* END MODULE DE CONNEXION */
/* Styles pour le module de panier */
#blockcart-wrapper {
  position: relative;
  top: 11px;
}

.blockcart .shopping-cart-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.blockcart .shopping-cart-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.blockcart .shopping-cart-container .cart-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #83b58b;
  padding: 0 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 40px;
}
.blockcart .shopping-cart-container .cart-icon-container:hover {
  background-color: rgb(99.0606060606, 161.9393939394, 109.1212121212);
}
.blockcart .shopping-cart-container .cart-icon-container .shopping-cart-icon,
.blockcart .shopping-cart-container .cart-icon-container .cart-icon-transparent {
  color: #f9fafb;
  font-size: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}
.blockcart .shopping-cart-container .cart-icon-container .cart-icon-transparent {
  color: rgba(255, 255, 255, 0.85);
}
.blockcart .shopping-cart-container .cart-icon-container .cart-products-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: white;
  color: #83b58b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
