/* === FONT IMPORTS === */
@import url("https://use.typekit.net/416c2919-4f2b-4f59-9eab-da041ee198c9.css");
/* === STYLE GLOBAL === */
html, body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #EDEFF1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 2000px;
  }
}

.custom-btn-action {
  background-color: #111827 !important;
  color: #f9fafb !important;
  font-size: 15px;
  padding: 0 1.5rem;
  font-weight: bolder;
  border: none;
  border-radius: 0 0.2rem 0.2rem 0;
  cursor: pointer;
  width: 145px;
}
.custom-btn-action:hover {
  background-color: #1f2937 !important;
}
