/** === PAGE AUTHENTICATION === */
#authentication #wrapper {
  background: linear-gradient(to right, white 50%, #F9FAFB 50%);
}
#authentication .page-content.card.card-block {
  max-width: 100%;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
}
#authentication #login-page {
  width: 100%;
}
#authentication #login-page .login-columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  #authentication #login-page .login-columns {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
#authentication #login-page .login-columns .login-column {
  width: 100%;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  #authentication #login-page .login-columns .login-column {
    width: calc(50% - 1rem);
  }
}
#authentication #login-page .login-columns .left-column {
  background-color: white;
}
#authentication #login-page .login-columns .left-column .login-form {
  width: 100%;
}
#authentication #login-page .login-columns .left-column .login-form form {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#authentication #login-page .login-columns .left-column .login-form .form-footer {
  width: 100%;
  max-width: 350px;
  text-align: left !important;
}
#authentication #login-page .login-columns .right-column {
  background-color: #F9FAFB;
}
#authentication #login-page .login-columns .right-column h1 {
  margin-bottom: 3rem;
}
#authentication #login-page .login-columns .right-column .register-info {
  width: 50%;
  margin-left: 200px;
}
#authentication #login-page .login-columns .right-column .register-info p {
  margin-bottom: 1rem;
}
#authentication #login-page .login-columns .right-column .register-info ul {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  list-style-type: disc;
}
#authentication #login-page .login-columns .right-column .register-info ul li {
  margin-bottom: 0.5rem;
  position: relative;
}
#authentication #login-page .login-columns .right-column .register-info ul li:before {
  content: none;
}
#authentication #login-page .login-columns .right-column .register-info .create-account-button {
  text-align: left;
  margin-top: 2rem;
}
@media (max-width: 1280px) {
  #authentication #login-page .login-columns .right-column .register-info {
    margin-left: 0;
  }
}
