@use 'variables' as *;
@use 'fonts';
/* === STYLE GLOBAL === */

// Typographie globale
html, body {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $color-custom-whiteDarker;
}

// Responsive container
.container, #content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 768px) {
    max-width: 1000px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  
  @media (min-width: 1400px) {
    max-width: 1350px;
  }
  
  @media (min-width: 1600px) {
    max-width: 2000px;
  }
}
// End responsive container


// Suppression des contours bleus par défaut
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

// Supprimer spécifiquement le contour bleu des champs de mot de passe
.input-group.focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: #e5e5e5 !important;
  
  &:after, &:before {
    outline: none !important;
    box-shadow: none !important;
  }
}

// Typographie
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: $color-custom-black;
  text-align: center;
  font-weight: lighter;
  
  @media (max-width: $breakpoint-md) {
    font-size: 1.25rem;
  }
}

// Boutons d'actions
.primary-btn {
  background-color: $color-custom-black !important;
  color: $color-custom-white !important;
  font-size: 15px;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  min-width: 250px;
  padding: 8px 0;
  text-transform: none;
  
  &:hover {
    background-color: $color-custom-blackHover !important;
  }

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
}


.secondary-btn {
  background-color: $color-custom-black !important;
  color: $color-custom-white !important;
  font-size: 15px;
  padding: 0 1.5rem;
  border: none;
  font-weight: 600;
  border-radius: 0 0.2rem 0.2rem 0;
  cursor: pointer;
  width: 170px;
  
  &:hover {
    background-color: $color-custom-blackHover !important;
  }

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
  }
}
// End Bouton d'action