@use 'variables' as *;
@use 'fonts';
/* === STYLE GLOBAL === */

// Typographie globale
html, body {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $color-custom-whiteDarker;
}

// Responsive container
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 768px) {
    max-width: 1000px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  
  @media (min-width: 1400px) {
    max-width: 1350px;
  }
  
  @media (min-width: 1600px) {
    max-width: 2000px;
  }
}
// End responsive container