@use '../variables' as *;

// Styles pour le bloc d'introduction Naturamedicatrix
.intro-naturamedicatrix-container {
  display: flex;
  margin: 2rem 0;
  background-color: $color-custom-bgWrapper;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $color-custom-grayLight;
}

.intro-naturamedicatrix-image {
  flex: 0 0 25%;
  background-image: url('../img/background-intro-naturamedicatrix.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.intro-naturamedicatrix-content {
  flex: 0 0 75%;
  padding: 5rem 8rem;
}

@media (max-width: $breakpoint-md) {
  .intro-naturamedicatrix-container {
    flex-direction: column;
  }
  
  .intro-naturamedicatrix-image {
    flex: 0 0 200px;
    width: 100%;
  }
  
  .intro-naturamedicatrix-content {
    flex: 1;
    width: 100%;
    padding: 2rem;
  }
}
//END INTRO NATURAMEDICATRIX
