@use '../variables' as *;

/* === PRODUCT LIST === */

.product-miniature {
    
    @media (max-width: $breakpoint-sm) {
        margin-bottom: 15px;
        padding: 10px 5px;
    }

    &.out_stock {
        position: relative;
        
        *:not(.out-of-stock-label) {
            opacity: 0.8;
        }
       
    }
    
    // Style pour le texte de rupture de stock
    .out-of-stock-label {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: .9rem;
        font-weight: 500;
        color: $color-custom-red;
        background-color: white;
        padding: 2px 5px;
        border-radius: 5px;
        z-index: 10;
        pointer-events: none;

        @media (max-width: $breakpoint-sm) {
            top: 10%;
        }
    }

        
        a {
            border: none !important
        }

        .thumbnail-container {
            margin-bottom: 0;

            .product-thumbnail img {
                @media (max-width: $breakpoint-sm) {
                    max-width: 70%;
                }
            }
        }
    

    .product-description {
        padding: 0;
        &::after {
            border-top: none !important;
        }

        h3, .h3 {
            margin-top: 0;
        }

        .product-manufacturer, .product-manufacturer a {
            text-align: center;
            color: $color-custom-grayLight !important;
            text-decoration: none !important;
            font-size: .8rem;
            margin-top: 8px;

            &:hover {
                color: $color-custom-gray !important;
            }
            @media (max-width: $breakpoint-sm) {
                font-size: .8rem !important;
            }
        }
    }

    .product-title {
        text-transform: initial;

        a {
            color: $color-custom-black !important;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            line-height: 1.4;
            display: inline-block;
        }

        .small {
            color: $color-custom-black;
        }
    }

    .product-flags-container {
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }
    }
    
    .product-flags {
        padding-left: 0px;
        margin-top: 0px;
        gap: 5px;
        position: relative;
        flex-direction: row;
        display: inline-flex;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }

        .product-flag {
            font-size: 0.8rem;
            text-transform: inherit;
            background: none;
            color: #68768a;
            border: 1px solid $color-custom-grayLight;
            padding: 2px 10px;
            border-radius: 15px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            line-height: 1.2;
            min-height: auto !important;
            min-width: auto;
            font-weight: normal !important;
            text-align: center;
        }

        li.product-flag {
            margin-top: 0;
        }

        .discount {
            background-color: $color-custom-highlight !important;
            color: $color-custom-white !important;
            border-color:$color-custom-highlight !important;
            font-weight: 900 !important;
        }

        .dlc-text {
            font-weight: normal !important;
        }

        .new {
            color: #136f9b !important;
            background: #d1eaf6 !important;
            border-color:#d1eaf6 !important;
        }
        .short-dlu {
            background-color: $color-custom-highlight !important;
            color: $color-custom-white !important;
            border-color:$color-custom-highlight !important;
            font-weight: 900 !important;
        }

        .pack {
            background-color: #fffbeb !important;
            color: #92400e !important;
            border-color:#fffbeb !important;
        }
    }

    .review-score {
        color: $color-custom-stars;
        padding-top: 5px;

        .review-stats {
            color: $color-custom-grayLight;
            padding-left: 3px;
        }
    }
    
    .block-product-flags {
        position: relative;
        margin-top: 15px;
    }
    
    .add-to-cart-or-refresh {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        z-index: 1;
    }
    
    .add-to-cart {
        background-color: $color-custom-black;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        @media (max-width: $breakpoint-sm) {
            background-color: transparent;
            &:hover {
                background-color: white !important;
            }
        }

        &:hover {
            background-color: $color-custom-blackHover;
        }
        
        i {
            font-size: .8rem;
            color: $color-custom-white;

            @media (max-width: $breakpoint-sm) {
                color: $color-custom-black;
                font-size: 1.3rem;

                &:hover {
                    color: $color-custom-blackHover;
                }
            }
        }
    }
    
    .price-and-cart-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .product-price-and-shipping {
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-weight: normal;

            @media (max-width: $breakpoint-sm) {
                gap: 5px;
            }
            
            .price {
                font-size: 1.2rem;
                font-weight: 700;
                color: $color-custom-black;

                @media (max-width: $breakpoint-sm) {
                    font-size: 1rem;
                    padding-left: 5px;
                }
            }
            
            .regular-price {
                color: $color-custom-black;
                margin-right: 5px;
            }
        }
    }

    .variants-group, .product-quantity-info {
        font-size: .8rem;
        color: $color-custom-gray;
    }
    
}

.product.col-xs-6, .products .col-xs-6 {
    @media (max-width: $breakpoint-sm) {
        padding: 0 10px;
        min-height: 330px;

        .out-of-stock-label {
            top: 5%;
        }
    }

}
//END PRODUCT LIST


// Catégories des listes
.featured-products {

    .product.col-xs-6 {
        @media (max-width: $breakpoint-sm) {
            min-height: auto;
        }
    }

    .all-product-link {
        margin: 0 auto;

        a {
            color: $color-custom-gray !important;
            border-bottom: none !important;
            font-weight: 300 !important;
            transition: all .2s ease;
            font-size: .9rem;

            &:hover {
                color: $color-custom-black !important;
            }
        }
    }

    h2 {
        margin: .4rem 0 .2rem 0 !important;
        font-size: 1.3rem;
        font-weight: bold !important;
    }

    .title-separator {
        margin-top: 0;
        &::before {
            left: 39%;
            right: calc(50% + 17px + 0.5rem)
        }
        &::after {
            right: 40%;
            left: calc(50% + 11px + 0.5rem);
        }
        #logoTitle {
            width: 27px;
        }
    }
    
    .product-filter-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;

        @media (max-width: $breakpoint-sm) {
            gap: 0;
        }

        .btn-light, .btn {
            @media (max-width: $breakpoint-sm) {
                font-size: .7rem !important;
                min-width: auto !important;
                padding: 10px 20px !important;
            }
        }

    }

    .product-list-pagination, .newproducts-desktop-pagination {
        margin-top: 0;
    }
}



// Best sellers
.block-bestsellers-wrapper {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: $color-custom-white;
}

.block-bestsellers {
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 1000px;
      }
    
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
    
      @media (min-width: 1400px) {
        max-width: 1350px;
      }
    
      @media (min-width: 1600px) {
        max-width: 1500px;
      }
}

// Miniatures light
.product-miniature-light {
    background-color: white;
    
    .container {
        display: flex;
        align-items: center;
        padding: 0;
        
        .product-image-container {
            flex: 0 0 140px;
            margin-right: 20px;
            @media (min-width: 320px) and (max-width: 1400px) {
                margin-right: 0px;
            }
        }
        
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            .product-brand, .product-brand a {
                font-size: 0.8rem;
                color: $color-custom-grayLight !important;
                text-decoration: none !important;
                &:hover {
                    color: $color-custom-gray !important;
                }
            }
            
            .product-title {
                margin-top: 0 !important;
                text-align: left;
                margin-bottom: 5px;
                a {
                    display: inline-block;
                    text-align: left;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $color-custom-black !important;
                }
            }
            
            
            .product-subtitle {
                margin-bottom: 12px;
                
                .variants-group {
                    text-align: left;
                    color: $color-custom-gray;
                    font-size: 0.9rem;
                    font-weight: 100;
                    padding: 0;
                }
            }
            
            .product-reviews {
                display: flex;
                align-items: center;
                color: $color-custom-grayLight;
                line-height: 1;
                
                .stars {
                    color: $color-custom-stars;
                    font-size: 0.8rem;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }
                
                .review-count {
                    font-size: 0.7rem;
                }
            }
            
            .product-price {
                font-size: 1.1rem;
                margin-top: 5px;
                color: $color-custom-black;
                font-weight: 700;
                
                .regular-price {
                    color: $color-custom-black;
                    font-weight: normal;
                    margin-left: 5px;
                }
            }
        }
    }
    
    .product-flags {
        position: absolute;
        top: 5px;
        left: 15px;
        z-index: 2;
    }
}


//End Miniatures light


body#manufacturer {
    .js-product-miniature {
        @media (max-width: $breakpoint-sm) {
            min-height: 280px;
        }
    }
}

//End Catégories des listes



// FILTRE ET TRI
@media (max-width: $breakpoint-md) {
    #products {
        .products-sort-order {
            margin: 0;
            padding: 0;
            border-bottom: none;
            h6 {
               margin: 0;
            }
        }

        #PM_ASBlock_1 {
            padding-right: 0;
            .card-header {
                margin-bottom: 0;
            }
        }

        .PM_ASMobileMode {
            .PM_ASBlockNbProductValue {
                display: none;
            }
        }
        .PM_ASBlockTitle {
            &::after {
                content: "";
                display: none;
            }
        }

        .products-sort-order h6, .PM_ASBlockTitle {
            font-size: .9rem;
        }
    }
}


.product-miniature .yotpo-reviews-star-ratings-widget {
    justify-content: center !important;
  }

  .product-miniature .yotpo-sr-bottom-line-text {
    font-size: .75rem !important;
    font-weight: 500 !important;
  }

  .product-miniature .yotpo-sr-bottom-line-summary.yotpo-sr-bottom-line-button {
    align-items: center !important;
  }

  .product-miniature .yotpo-reviews-star-ratings-widget .star-container {
    width: 12px;
    height: 12px;
  }


  #products .products, .all-products .products {
    display: grid; justify-content: normal; 
}

  .desktop-pagination, .newproducts-desktop-pagination {
    margin-top: 20px !important;
  }



  .product-miniature-light.product-miniature .yotpo-reviews-star-ratings-widget {
    justify-content: left !important;
  }
  .product-miniature-light .yotpo-sr-bottom-line-text {
    font-size: .75rem !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
  }

  .product-miniature-light .yotpo-sr-bottom-line-button span {
    height: 16px !important;
  }
