@use '../variables' as *;
@use 'sass:color';

// Si body contient la classe ciblée alors le wrapper est line-gradient
body[class*="manufacturer-id-"], body.layout-left-column, body#module-blockwishlist-lists, body#module-psgdpr-gdpr, body#view, body#module-ps_emailalerts-account{
    #wrapper {
        background: linear-gradient(to right,  
            $color-custom-whiteDarker 50%, 
            $color-custom-bgWrapper 50%, 
            );

            .block-categories, #search_filters {
                padding: 50px 70px 50px 0;
                background-color: $color-custom-whiteDarker;
            }

            @media (max-width: $breakpoint-sm) {
                background: $color-custom-white;
            }
    }
}


body#checkout {
    #wrapper {
        background: linear-gradient(to right,  
            $color-custom-bgWrapper 53%, 
            $color-custom-whiteDarker 50%, 
            );

            @media (max-width: 1199px) {
                background: $color-custom-white;
            }
    }
}

body#cart {
    #wrapper {
        background: linear-gradient(to right,  
            $color-custom-bgWrapper 70%, 
            $color-custom-whiteDarker 50%, 
            );

            @media (max-width: 1399px) {
                background: linear-gradient(to right,  
                $color-custom-bgWrapper 63%, 
                $color-custom-whiteDarker 100%, 
                );
            }
    }
}
    

