@use '../variables' as *;
@use 'sass:color';

// Si body contient la classe ciblée alors le wrapper est line-gradient
body[class*="manufacturer-id-"], body.layout-left-column {
    #wrapper {
        background: linear-gradient(to right,  
            $color-custom-whiteDarker 50%, 
            $color-custom-bgWrapper 50%, 
            );

            .block-categories, #search_filters {
                padding: 50px 70px 50px 0;
                background-color: $color-custom-whiteDarker;
            }

            @media (max-width: $breakpoint-sm) {
                background: $color-custom-white;
            }
    }
}

