@use '../variables' as *;

/* === ADVANTAGES SECTION === */
.advantages-container {
  width: 100%;
  background-color: $color-custom-bgLight;
  padding: 2rem 0;
  border-top: 1px solid $color-custom-gray;
  
  @media (max-width: $breakpoint-md) {
    padding: 1rem 0;
  }
}

.advantages-wrapper {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  // flex-wrap: nowrap;
  // width: 100%;
  // max-width: 1700px;
  // margin: 0 auto;
  // padding: 0 1rem;
  // gap: 1rem;
  
  // @media (max-width: $breakpoint-md) {
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   gap: 0.75rem;
  //   row-gap: 1rem;
  // }
}

.advantage-item {
  display: flex;
  align-items: center;
  
  // @media (min-width: $breakpoint-lg) {
  //   width: 23%;
  //   flex-shrink: 0;
  // }
  
  @media (max-width: $breakpoint-md) {
    width: 47%;
    flex-direction: column;
    text-align: center;
    margin: 0;
    
    .advantage-icon {
      margin-bottom: 0.5rem;
    }
    
    .advantage-text {
      h3 {
        font-size: 0.9rem;
        margin-bottom: 0.1rem;
      }
      
      p {
        font-size: 0.75rem;
        line-height: 1.2;
      }
    }
  }
  
  .advantage-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    overflow: visible;
    
    @media (max-width: $breakpoint-md) {
      width: 2.5rem;
      height: 2.5rem;
      
      img {
        width: 1.5rem;
        height: auto;
      }
      
      &::before {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
    
    &::after {
      content: '';
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba($color-custom-green, 0.4);
      z-index: 1;
      
      @media (max-width: $breakpoint-md) {
        width: 25px;
        height: 25px;
        top: -4px;
        right: -4px;
      }
    }
    
    i {
      font-size: 2rem;
      color: $color-custom-black;
      z-index: 2;
      
      @media (max-width: $breakpoint-md) {
        font-size: 2rem;
      }
    }
  }
  
  .advantage-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    
    .advantage-title {
      font-weight: bold;
      color: $color-custom-gray;
      line-height: 1.2;
      font-size: 0.9rem;
      
      @media (max-width: $breakpoint-md) {
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
      }
    }
    
    .advantage-text {
      font-size: 0.8rem;
      color: $color-custom-gray;
      
      @media (max-width: $breakpoint-md) {
        font-size: 0.7rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}