@use 'sass:color';

// Couleurs principales
$color-custom-green: #487595;
$color-custom-greenLight: #C3DBC7;
$color-custom-blue: #1F80C7;
$color-custom-highlight: #e45b7f;
$color-custom-white: #f9fafb;
$color-custom-whiteDarker: #EDEFF1;
$color-custom-black: #111827;
$color-custom-blackHover: #374151;
$color-custom-grayLight: #93A7C3;
$color-custom-gray: #4B5563;
$color-custom-yellow: #DDAC26;
$color-custom-information: #FFF8E1;
$color-custom-informationText: #7c6416;
$color-custom-bgLight: #F9FAFB;
$color-custom-bgWrapper: #FFFFFF;
$color-custom-stars: #FFB339;
$color-custom-red: #ee5c58;
$color-custom-promo: #4748A5;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;