@use 'variables' as *;
/** === ASIDE CONTAINER === */

// Styles généraux pour le conteneur latéral
.side-column {
  background-color: $color-custom-whiteDarker;
  height: 170vh;
  
  @media (max-width: $breakpoint-sm) {
    height: 100vh;
  }

  @media (min-width: $breakpoint-sm) and (max-width: 769px) {
    height: 175vh;
  }

  @media (min-width: 770px) and (max-width: 1024px) {
    height: 150vh;
  }

  @media (min-width: 2000px) {
    height: 130vh;
  }
  
  
  

  // Style commun pour tous les blocs
  .side-block {
    padding: 2rem 1.5rem;
    text-align: center;
  }



  .icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    
    &::after {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba($color-custom-green, 0.4);
      z-index: 1;
    }
    
    i {
      font-size: 2.8rem;
      color: $color-custom-black;
      z-index: 2;
    }
  }

  // Styles pour les horaires
  // .support-client > p {
  //   color: $color-custom-gray;
  //   font-size: 0.95rem;
  //   margin-bottom: 1.5rem;
  // }

  // Styles pour les informations de contact par pays
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .country-block {
    text-align: center;
    width: 100%;
    border-bottom: none;
    margin-bottom: 15px;
  }

  .flag-icon {
    width: 20px;
    height: 17px;
    display: inline-block;
    object-fit: cover;
  }



  // Styles pour les adresses
  .address-section {
    margin-top: 1rem;
  }
}