@use "sass:color";
@use 'variables' as *;

/* === CUSTOM HEADER STYLE === */

/* === SLIDER === */
#text-carousel {
  .carousel-item {
    display: inline-block;
    transition: all 0.5s ease;
    
    &.inactive {
      position: absolute;
      inset: 0;
      transform: translateX(100%);
    }
  }
}
/* === END SLIDER === */



/* === SEARCH === */
#search_widget {
  min-width: 25rem;
  z-index: 10;
  position: absolute;
  right: 15px;

  @media (max-width: $breakpoint-lg) {
    min-width: 15rem;
  }

  @media (max-width: $breakpoint-md) {
    min-width: 100%;
  }

  @media (max-width: $breakpoint-sm) {
    margin-top: 8px;
  }
}


#adtm_menu .searchboxATM .search_query_atm {
  width: 300px !important;
  border-radius: 4px;
}

#adtm_menu .adtm_search_submit_button {
  right: 3% !important;
}

#adtm_menu .li-niveau1.advtm_menu_9,
#adtm_menu .li-niveau1.advtm_search {
  margin-left: auto;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.advtm_search i.search {
  &:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba($color-custom-green, 0.3);
    top: 14px;
    right: 3px;
  }
}
/* === END SEARCH === */

/* === PANNEAU D'ACTUALITÉS === */
.actus-panel {
  display: none; 
  position: relative;
  background-color: $color-custom-white;
  padding: 20px 0;
  z-index: 1000;
  width: 100%;
  
  &.active {
    display: block;
    animation: slideDown 0.3s ease-in-out;
    position: absolute;
    top: 0;
    
  }
}

.actus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: $color-custom-black;
    margin: 0;
  }
}

.close-actus {
  background: none;
  border: none;
  font-size: 24px;
  color: $color-custom-black;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    color: $color-custom-gray;
  }
}

.actus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

/* Styles des cartes d'actualités */
.actu-card {
  background-color: $color-custom-bgLight;
  border-radius: 8px;
  padding: 25px;
  position: relative;
  height: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: $color-custom-black;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: $color-custom-gray;
    margin-bottom: 15px;
  }
}

.naturamedicatrix-card, .promo-card, .delivery-card {
  background-color: color.adjust($color-custom-green, $lightness: 35%);
}



#iqitmegamenu-mobile-content {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
  }
}