/** === ASIDE CONTAINER === */
.side-column {
  background-color: #EDEFF1;
  height: 182vh;
}
@media (max-width: 640px) {
  .side-column {
    height: 110vh;
  }
}
@media (min-width: 640px) and (max-width: 769px) {
  .side-column {
    height: 115vh;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .side-column {
    height: 227vh;
  }
}
@media (min-width: 2000px) {
  .side-column {
    height: 130vh;
  }
}
.side-column .side-block {
  padding: 2rem 1.5rem;
  text-align: center;
}
.side-column .icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
.side-column .icon-container::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 95, 90, 0.4);
  z-index: 1;
}
.side-column .icon-container i {
  font-size: 2.8rem;
  color: #111827;
  z-index: 2;
}
.side-column .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-column .country-block {
  text-align: center;
  width: 100%;
  border-bottom: none;
  margin-bottom: 15px;
}
.side-column .flag-icon {
  width: 20px;
  height: 17px;
  display: inline-block;
  object-fit: cover;
}
.side-column .address-section {
  margin-top: 1rem;
}
