/**
 * Submenu blur effect styles for Advanced Top Menu
 */

/* Pas d'overlay, simplement appliquer le flou sur #wrapper */
body.submenu-open #wrapper {
  filter: blur(10px);
  transition: filter 0.3s ease;
}

/* Style appliqué lorsqu'un sous-menu est ouvert */

#adtm_menu_inner div.adtm_sub {
  z-index: 100;
  transform-origin: top center;
}

/* Animation pour faire apparaitre le texte du haut vers le bas */
#adtm_menu ul#menu .li-niveau1 div.adtm_sub {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-70px); /* Démarrer légèrement au-dessus */
  transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.2s linear 0.2s;
}

#adtm_menu ul#menu .li-niveau1:hover div.adtm_sub {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Position finale normale */
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Animation pour les éléments individuels du sous-menu */
#adtm_menu .adtm_column ul.adtm_elements li {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

#adtm_menu ul#menu .li-niveau1:hover .adtm_column ul.adtm_elements li {
  opacity: 1;
  transform: translateY(0);
}

#adtm_menu {
  position: relative;
  z-index: 101;
}
