/* Styles pour le slider bestsellers */
.bestsellers-slider .tns-item {
  margin-bottom: 0;
}

.bestsellers-slider .product-miniature {
  display: block;
}

/* Styles spécifiques pour les produits bestsellers */
.bestsellers-slider .product-miniature-light.product-miniature .yotpo-reviews-star-ratings-widget {
  justify-content: left !important;
}

.bestsellers-slider .product-miniature-light .yotpo-sr-bottom-line-text {
  font-size: .75rem !important;
  font-weight: 500 !important;
  line-height: 1.3 !important;
}

.bestsellers-slider .product-miniature-light .yotpo-sr-bottom-line-button span {
  height: 16px !important;
}
